﻿/*************************************************************************/
/**************************** MENU E RODAPE ******************************/
/*************************************************************************/

/*Definicao layout do site*/
body{background-color: #E4E4E4; margin:0;}

a{text-decoration: none;}

/*Definicao topo*/
#mmenu, .fundo-topo{background-color: #4D4D4D; width:100%; z-index: 1; margin:0 0; display: block; overflow: hidden; }
.conteudo-topo{margin: 0 auto; z-index: 2;}
.logo-cidade{z-index: 3;}
.conteudo-item{float:right;}
.item-inicio, .item-busca, .item-sobre, .item-contato, .item-conquiste{z-index: 3; float:left; cursor:pointer;}
.font-topo{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; text-align: center; z-index: 3; }

/*Definicao rodape*/
.fundo-rodape { background-color: #4D4D4D; width:100%; left:0; top:100%; z-index: 1;}
.item-rodape{ margin:0 auto; }
.item-logo-rodape{display:inline-block;  vertical-align:top;}
.item-email-rodape{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#FFFFFF; text-align: center; float:left; width:100%; text-decoration:none; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none;  -moz-user-select: none;  -ms-user-select: none;}
.item-icones-sociais{vertical-align:top; display:inline-block; margin: 0 auto;}
.icone-facebook:hover, .icone-twitter:hover{filter: alpha(opacity=8); opacity: .8;}

/*Definicao cores fonte, fundo de imagens e brilho (Menu)*/
.font-inativa{color: #FFFFFF;}
.font-ativa{color: #F5911E;}
.background-inativo{background-color:#FFFFFF;}
.background-ativo{background-color:#F5911E;}
.item-inativo:hover{border-radius:5px 5px; background-color:rgba(255, 255, 255, 0.4);}
.item-ativo{border-radius:5px 5px; background-color:rgba(255, 255, 255, 0.8);}

#modal-conquiste{display:none; margin: 0 auto;}
.item-font-modal-conquiste{margin: 0 auto; text-align: center;}

/**************************************************************************/
/******************************  TELA INICIAL *****************************/
/**************************************************************************/

/*Definicao conteudo*/
.fundo-conteudo{ background-color: #FFFFFF; margin: 0 auto;  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2); z-index: 2;}
.area-pesquisa{ margin: 0 auto;}
.sugestoes-area-pesquisa{position:absolute; z-index:2; background-color: white; width:350px; margin-right: 18px; display: none; border: 1px solid #D3D3D3; border-radius:10px;}
.fonte-sugestoes-area-pesquisa{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color: #4D4D4D; font-size:20px;}
input{border: 1px solid #808080; border-radius:7px 7px; background-color: #F8F8F8;}
.font-area{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; text-align: left; padding-left:5px;}
.botao-pesquisa, .botao-categoria{background-color: #F5911E; /*display:inline-block;*/float:left; vertical-align:top; border:none;}
.botao-pesquisa:hover, .botao-categoria:hover{ box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5); filter: alpha(opacity=8); opacity: .8;}
.font-botao-pesquisa{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#FFFFFF;}
.font-top-servicos{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-weight: bold; color:#333333;}


/*Definição mais avaliados*/
.mais-avaliados{width:100%;}
.balao-mais-avaliados{vertical-align:top; cursor: pointer; width:250px; height:170px; border: 5px solid #4D4D4D; border-radius:25px 25px; display:inline-block;}
.balao-mais-avaliados:hover{box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);}
.conteudo-balao{height:130px; margin:0 auto;}
.item-conteudo img{width:250px; height:130px; border-radius:18px 18px 0 0; z-index: 2}
.rodape-balao{background-color: #FFFFFF; width:250px; height: 38px; border-radius:0 0 25px 25px; border-top: 2px solid #4D4D4D; margin:0 auto; z-index:2}
.rodape-avaliacao{display:inline-block; height: 38px; width:130px; margin-top:7px; padding-left: 28px; vertical-align:top;}
.numero-avaliacao{width:31px; height: 24px; padding-top: 1px; padding-left:9px; /*display:inline-block;*/ float:left; vertical-align:top;}
.text-numero-avaliacao{font-size: 16px; font-weight: bold; color:#FFFFFF; font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; text-align: center;}
.rodape-estrela{height:24px; width:86px;  padding-top:4px; /*display: inline-flex;*/ /*display:inline-block;*/float:left; vertical-align:top;}
.item-estrela{float:left; margin-left: 2px;}
.rodape-indicacao{display:inline-block; width:60px; height: 38px; margin-left:15px; margin-top: 10px; vertical-align:top;}
.fundo-indicar{height: 19px; width:60px; background-color: #4D4D4D; border-radius:5px 5px;}
.item-mao{width:18px; padding-left:4px; padding-top:2px; vertical-align:top; display:inline-block;}
.item-numero-indicacao{width:33px; vertical-align:top; display:inline-block;}
.text-numero-indicacao{font-size: 14px; font-weight: bold; color:#FFFFFF; font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; text-align: center;}

.botao-mais-avaliados, .botao-numero-avaliacao{ background-color: #F5911E; border:none; cursor:pointer;}
.botao-mais-avaliados:hover, .botao-numero-avaliacao:hover, .botao-avaliar-detalhes:hover{ box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5); filter: alpha(opacity=8); opacity: .8;}
.fonte-botao-mais-avaliados{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#FFFFFF; text-align: center;}

/*Imagens avaliacao*/
.estrela-cheia{background: url(../img/mg/vicosa/layout/estrelas-avaliacao.png) 0 0 no-repeat; width: 15px; height: 15px; }
.estrela-metade{background: url(../img/mg/vicosa/layout/estrelas-avaliacao.png) 0 -15px no-repeat; width: 15px; height: 15px; }
.estrela-vazia{background: url(../img/mg/vicosa/layout/estrelas-avaliacao.png)  0 -30px no-repeat; width: 15px; height: 15px; }
.mao-indica{background: url(../img/mg/vicosa/layout/mao-indicar.png)  100% 100% no-repeat; width: 17px; height: 15px; }

.balao-rodape-avaliacao{background: url(../img/mg/vicosa/layout/desktop-maior/rodape-avaliacao.png) 100% 100% no-repeat; width: 130px; height: 24px;}

/*************************************************************************/
/*************************** TELA RESULTADOS *****************************/
/*************************************************************************/

.menssagem-erro{background-color: rgba(255, 0, 0, 0.2); border: 1px solid #B1B1B1; border-radius:5px 5px;}
#msErro{display:none;}
.text-menssagem-erro{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; text-align: center;}
.font-topo-resultados{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-weight: bold; text-align: left; }
.selectOrdenacao{border:1px solid #808080; background-color: #F8F8F8; border-radius:5px 5px;}
select option{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important; text-align: center;}

.font-conteudo-resultados{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#333333;}
.resultado-balao-mais-avaliados{vertical-align:top; cursor: pointer; width:250px; height:170px; border: 5px solid #4D4D4D; border-radius:25px 25px; display:inline-block;}
.resultado-balao-mais-avaliados:hover{box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);}


.font-endereco-localizacao{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#4D4D4D; }

/***************************************************************************/
/****************************** TELA DETALHES ******************************/
/***************************************************************************/

    .font-detalhes-inicio{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; text-align: center; font-weight: bold;}

    .bx-wrapper .bx-controls-direction a{z-index: 10 !important;}

        .bxslider{padding-left: 0 !important; margin: 0 !important;}

            li {list-style: none; }

                .imagem-detalhes-zoom{cursor: url(../img/mg/vicosa/layout/zoom_out.cur), zoom-out !important;}

                .imagem-detalhes{cursor: url(../img/mg/vicosa/layout/zoom_in.cur), zoom-in !important; }

                .imagem-detalhes{display:none;}

        .modal-slider{display:none;}

    .fundo-informacoes{background-color: #F0F0F0; border-radius:10px 10px;}

        .font-topo-detalhes{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; text-align: center; font-weight: bold;}

        .item-num-telefone, .font-endereco-localizacao-detalhes{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; float: left;}

            .botao-mapa{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#FFFFFF; background-color:#F5911E; border:none; cursor:pointer;}

        .item-telefone-font-botao{width:100%; height:auto; overflow: hidden;}

            .item-botao-telefone{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#FFFFFF; border:none; cursor:pointer;}

        .item-num-whatsapp, .item-num-site, .item-num-entrega{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; float:left;}

        .icone-android-detalhes:hover, .icone-apple-detalhes:hover, .icone-blogger-detalhes:hover, .icone-facebook-detalhes:hover,
        .icone-flickr-detalhes:hover, .icone-google-plus-detalhes:hover, .icone-instagram-detalhes:hover,
        .icone-linkedin-detalhes:hover, .icone-skype-detalhes:hover, .icone-tumblr-detalhes:hover,
        .icone-twitter-detalhes:hover, .icone-vimeo-detalhes:hover, .icone-youtube-detalhes:hover{filter: alpha(opacity=8); opacity: .8;}

        .icone-android-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) 0 0  no-repeat; width: 32px; height: 32px;}

        .icone-apple-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -32px 0  no-repeat; width: 32px; height: 32px;}

        .icone-blogger-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -64px 0  no-repeat; width: 32px; height: 32px;}

        .icone-facebook-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -96px 0  no-repeat; width: 32px; height: 32px;}

        .icone-flickr-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -128px 0  no-repeat; width: 32px; height: 32px;}

        .icone-google-plus-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -160px 0  no-repeat; width: 32px; height: 32px;}

        .icone-instagram-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -192px 0  no-repeat; width: 32px; height: 32px;}

        .icone-linkedin-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -224px 0  no-repeat; width: 32px; height: 32px;}

        .icone-skype-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -256px 0  no-repeat; width: 32px; height: 32px;}

        .icone-tumblr-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -288px 0  no-repeat; width: 32px; height: 32px;}

        .icone-twitter-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -320px 0  no-repeat; width: 32px; height: 32px;}

        .icone-vimeo-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -352px 0  no-repeat; width: 32px; height: 32px;}

        .icone-youtube-detalhes{background: url(../img/mg/vicosa/layout/tablet/iconesRedesSociais.png) -384px 0  no-repeat; width: 32px; height: 32px;}

        #modal-telefone, #modal-hFuncionamento, #modal-mensagem, #modal-fPagamento, #modal-sobre, #modal-planos-aceitos, #modal-num-avaliacao {display: none; text-align: center;}

        #modal-telefone, #modal-fPagamento, #modal-planos-aceitos{margin: 0 auto; float: none;}

        #item-detalhes-mensagem{margin: 0 auto;}


    #indicacao-d-maior{display:none;}
	#indicacao-d-menor{display:none;}
	#indicacao-tablet{display:none;}

        .item-icone-indicacao{padding-right:5px; float:left;}

        .botao-indicacao:hover, .botao-nao-indicacao:hover, .item-botao-telefone:hover, .botao-popup-esquerda:hover, .botao-popup-direita:hover, .ui-button:hover, .item-botao-contato:hover{ box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5); filter: alpha(opacity=8); opacity: .8;}

            .font-botao-indicacao{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#FFFFFF; float: left; }

    .font-modal, .font-modalB, .font-modal-pagamento, .font-modal-estabelecimento, .font-modal-planos{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;}

    .font-modalB, .font-modal{text-align: center !important;}

    .font-modal-estabelecimento{text-align: center; font-weight: bold;}

    .ui-widget-overlay {background:#4D4D4D;  opacity: .90; filter: Alpha(Opacity=10);}

    .ui-dialog-titlebar-close {visibility: hidden;}

    .ui-state-default{background-color: #F5911E !important; color:#FFFFFF !important; }

    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{border:none !important;}

    .ui-dialog-content{display:table !important; padding-top: 18px !important; padding-bottom: 0 !important;}

    .ui-dialog-title{text-align: center !important; width:100% !important;}

    .ui-dialog .ui-dialog-buttonpane {text-align: center;}

    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float: none;}

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background: #F5911E !important;}

        .font-erro-dialog{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#FF0000; text-align: center;}

        .font-botao-popup{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#FFFFFF;}

        .font-botao-popup{cursor:pointer;}

    .icone-boleto{background: url(../img/mg/vicosa/layout/iconesPagamento.png) 0 0  no-repeat; width: 50px; height: 50px;}

    .icone-cartao-credito{background: url(../img/mg/vicosa/layout/iconesPagamento.png) -50px 0  no-repeat; width: 50px; height: 50px;}

    .icone-cartao-debito{background: url(../img/mg/vicosa/layout/iconesPagamento.png) -50px 0  no-repeat; width: 50px; height: 50px;}

    .icone-cheque{background: url(../img/mg/vicosa/layout/iconesPagamento.png) -100px 0  no-repeat; width: 50px; height: 50px;}

    .icone-dinheiro{background: url(../img/mg/vicosa/layout/iconesPagamento.png) -150px 0  no-repeat; width: 50px; height: 50px;}

    .icone-pag-seguro{background: url(../img/mg/vicosa/layout/iconesPagamento.png) -200px 0  no-repeat; width: 50px; height: 50px;}

    .icone-paypal{background: url(../img/mg/vicosa/layout/iconesPagamento.png) -250px 0  no-repeat; width: 50px; height: 50px;}

    .icone-transferencia{background: url(../img/mg/vicosa/layout/iconesPagamento.png) -300px 0  no-repeat; width: 50px; height: 50px;}


    .icone-agros{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) 0 0 no-repeat; width: 90px; height: 30px;}

    .icone-amil{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -100px 0 no-repeat; width: 90px; height: 30px;}

    .icone-bb-seguro-saude{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -186px 0 no-repeat; width: 90px; height: 30px;}

    .icone-bradesco-saude{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -276px 0 no-repeat; width: 90px; height: 30px;}

    .icone-cassi{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -365px 0 no-repeat; width: 90px; height: 30px;}

    .icone-cemig-saude{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -455px 0 no-repeat; width: 90px; height: 30px;}

    .icone-geap-saude{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -540px 0 no-repeat; width: 90px; height: 30px;}

    .icone-imas{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -630px 0 no-repeat; width: 90px; height: 30px;}

    .icone-plamhuv{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -720px 0 no-repeat; width: 90px; height: 30px;}

    .icone-ipsemg{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -815px 0 no-repeat; width: 90px; height: 30px;}

    .icone-postal-saude{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -900px 0 no-repeat; width: 90px; height: 30px;}

    .icone-saude-caixa{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -990px 0 no-repeat; width: 90px; height: 30px;}

    .icone-servidores-militares{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -1086px 0 no-repeat; width: 90px; height: 30px;}

    .icone-unimed{background: url(../img/mg/vicosa/layout/iconesPlanosDeSaude.png) -1178px 0 no-repeat; width: 90px; height: 30px;}



    .fundo-avaliacao-detalhes{background-color: #F0F0F0; border-radius:10px 10px;}

        .font-titulo-avaliacao-detalhes{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; text-align: center; font-weight: bold;}

            .item-icone-estrela-detalhes{float:left;}

            .num-destalhes-avaliacao{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#FFFFFF; text-align: center;}

            #fundo-mensagem-detalhes-d-maior{background-color: #FFFFFF; border-radius:10px 10px;}
			#fundo-mensagem-detalhes-d-menor{background-color: #FFFFFF; border-radius:10px 10px;}
			#fundo-mensagem-detalhes-tablet{background-color: #FFFFFF; border-radius:10px 10px;}

        .botao-avaliar-detalhes{cursor:pointer;}

        .font-botao-detalhes-avaliacao{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#FFFFFF;}

        .font-modal-avaliacao-comentario, .font-modal-avaliacao-nome, .item-num-indicação, .num-detalhes-avaliacao{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#4D4D4D;}

        .font-modal-avaliacao-comentario{text-align: left;}

        .imagem-usuario{background: url(../img/mg/vicosa/layout/imagem-usuario.png) 0 0 no-repeat; width:50px; height: 50px;  margin:0 auto;}

        #modal-num-avaliacao.ui-dialog-content.ui-widget-content{padding: 0 !important;}


/*************************************************************************/
/*************************** TELA CONTATO ********************************/
/*************************************************************************/

#form-contato{margin: 0 auto;}

.font-msg-inicial-contato{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; text-align: left; font-weight: bold;}

.item-botao-contato{margin: 0 auto;}

.botao-contato{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; color:#FFFFFF; background-color:#F5911E; border:none;}

#nomeid-contato, #emailid-contato, #assuntoid-contato, #mensagem-contato{font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;}

/*************************************************************************/
/*************************** VÁRIAS TELAS ********************************/
/*************************************************************************/

.font-topo, .font-area, .font-botao-pesquisa, .font-top-servicos, .text-numero-avaliacao, .text-numero-indicacao,
.fonte-botao-mais-avaliados, select option, .text-menssagem-erro, .font-topo-resultados, .font-conteudo-resultados,
.font-topo-detalhes, .font-endereco-localizacao, .item-num-telefone, .item-botao-telefone, .item-num-whatsapp, .item-num-site, .item-num-entrega,
.font-botao-indicacao, .font-detalhes-inicio, .font-endereco-localizacao-detalhes, .font-titulo-avaliacao-detalhes, .font-modal-avaliacao-comentario,
.font-modal-avaliacao-nome, .font-data-comentario-detalhes, .num-detalhes-avaliacao, .font-botao-popup, .font-modal, .font-modalB, .font-modal-pagamento,
.font-modal-estabelecimento, .font-modal-sobre{-webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;}

.font-top-servicos, .font-detalhes-inicio, .font-endereco-localizacao-detalhes, .item-num-telefone, .item-num-whatsapp,
.item-num-site, .item-num-entrega, .font-titulo-avaliacao-detalhes, .font-modal-avaliacao-comentario, .font-modal-avaliacao-nome,
.font-data-comentario-detalhes, .num-detalhes-avaliacao, .font-modal, .font-modalB, .font-modal-pagamento, .font-modal-estabelecimento,
.font-modal-sobre{cursor:default;}

.parent {display: table;}

.child {
    display: table-cell;
    vertical-align: middle;
}