@media screen and (max-width: 600px) {

    .conteudo-item{display: none;}

    /*************************************************************************/
    /**************************** MENU E RODAPE ******************************/
    /*************************************************************************/

    /*Definicao logo*/
    .fundo-topo{height:122px;}
    .conteudo-topo{width:320px; height:115px;}
    .logo-cidade{width:200px; height:73px; margin:0 auto;}
    .menu{width:281px; height:50px; margin:0 auto; cursor:pointer;}
    #mmenu {height:124px;}
    ul li { clear:both; list-style:none; }
    ul{padding:0 0;}
    .item-inicio-menu, .item-busca-menu, .item-sobre-menu, .item-contato-menu, .item-conquiste-menu{width:281px; height:40px; margin:0 auto;  border-top: 1px solid #FFFFFF; cursor:pointer;}
    .item-font-modal-conquiste{width: 300px;}
    #telefoneid, #empresaid{width: 230px; !important; text-align: left !important; padding-left:5px !important; }
    #modal-conquiste{padding-top: 8px !important;}

    .ui-widget input{font-size: 15px !important;}

    /*Imagem icone menu*/
    .margin-icones-menu{margin:4px auto auto 54px; display:inline-block;}
    .icone-menu-mobile{background: url(../img/mg/vicosa/layout/celular/icone-menu-mobile.png) 0 0 no-repeat; width: 32px; height: 32px; margin:10px auto auto 54px; display:inline-block;}
    .texto-menu{font-size:21px; width:190px; height:24px; text-align:center; display:inline-block; color: #FFFFFF; vertical-align:top; margin-top:13px;}
    .texto-item-menu{font-size:18px; width:190px; height:20px; text-align:center; display:inline-block; vertical-align:top; margin-top:10px; text-decoration: none;}

    .icone-inicio-inativo{ background: url(../img/mg/vicosa/layout/celular/icones-menu.png) 0 0 no-repeat; width: 32px; height: 32px; }
    .icone-inicio-ativo{  background: url(../img/mg/vicosa/layout/celular/icones-menu.png) -32px 0 no-repeat; width: 32px; height: 32px; }
    .icone-busca-inativo{  background: url(../img/mg/vicosa/layout/celular/icones-menu.png)0 -32px no-repeat; width: 32px; height: 32px; }
    .icone-busca-ativo{  background: url(../img/mg/vicosa/layout/celular/icones-menu.png) -32px -32px no-repeat; width: 32px; height: 32px; }
    .icone-sobre-inativo{  background: url(../img/mg/vicosa/layout/celular/icones-menu.png) 0 -64px no-repeat; width: 32px; height: 32px; }
    .icone-sobre-ativo{  background: url(../img/mg/vicosa/layout/celular/icones-menu.png) -32px -64px no-repeat; width: 32px; height: 32px; }
    .icone-contato-inativo{  background: url(../img/mg/vicosa/layout/celular/icones-menu.png) 0 -96px no-repeat; width: 32px; height: 32px; }
    .icone-contato-ativo{  background: url(../img/mg/vicosa/layout/celular/icones-menu.png) -32px -96px no-repeat; width: 32px; height: 32px; }
    .icone-conquiste-inativo{  background: url(../img/mg/vicosa/layout/celular/icones-menu.png) 0 -128px no-repeat; width: 32px; height: 32px; }
    .icone-conquiste-ativo{  background: url(../img/mg/vicosa/layout/celular/icones-menu.png) -32px -128px no-repeat; width: 32px; height: 32px; }

    /*Imagens logo das cidades de MG*/
    .logo-mg-vicosa{background: url(../img/mg/vicosa/layout/celular/logo-vicosa.png) 100% 100% no-repeat;}

    /*Definicao conteudo*/
    #desktop-maior, #desktop-menor, #tablet{display:none;}
    .fundo-conteudo{width:320px;}
    .area-pesquisa{width:300px; padding:14px 0 14px 0;}
    input{width:300px; height:40px; }
    .font-area{font-size:18px;}
    .area-botao{width:92px; height:35px; padding-bottom:24px; margin:0 auto; }
    .botao-pesquisa{width:92px; height:35px; /*margin-right:5px;*/ cursor:pointer; }
    .font-botao-pesquisa{font-size: 14px; font-weight: 500;}
    .botao-categoria{width:100px; height:35px; cursor:pointer;}

    /*definicao rodape*/
    .fundo-rodape{height:85px;}
    .item-rodape{ width:320px; }
    /*Caso queira adicionar mais icones socias deve diminuir o padding para os icones sociais*/
    .item-logo-rodape{width:191px; padding-left:17px; padding-right:21px;}
    .item-email-rodape{ font-size: 14px;}
    .item-icones-sociais{width:78px; padding-top: 7px;}

    /*Imagem rodape-logo-viçosa*/
    .rodape-logo-mg-vicosa{background: url(../img/mg/vicosa/layout/celular/logo-vicosa-rodape.png) 100% 100% no-repeat; width: 191px; height: 66px; margin: 0 auto;}
    .icone-facebook{background: url(../img/mg/vicosa/layout/celular/icones-sociais.png) 0 0 no-repeat; width: 35px; height: 35px; margin: 0 auto; display: inline-block;}
    .icone-twitter{background: url(../img/mg/vicosa/layout/celular/icones-sociais.png) 0 -35px no-repeat; width: 35px; height: 35px; margin: 0 auto; display: inline-block;}

    /**************************************************************************/
    /******************************  TELA INICIAL *****************************/
    /**************************************************************************/

    .font-top-servicos{font-size: 24px; text-align: center; float:left; width:300px; padding-bottom:24px;}

    /*Definição mais avaliados*/
    .mais-avaliados{width:260px; margin:0 auto;}
    .balao-mais-avaliados{ margin-bottom:32px; }

    .item-botao-mais-avaliados{width:121px; height:35px; margin: 0 auto; padding-bottom: 32px;}
    .botao-mais-avaliados{width: 121px; height:35px;}
    .fonte-botao-mais-avaliados{font-size: 23px;}


    /*************************************************************************/
    /*************************** TELA RESULTADOS *****************************/
    /*************************************************************************/

    /*Definicao conteudo*/
    #itemContainer{display: none;}
    .item-menssagem-erro{padding:0 0 17px 0; width:300px;}
    .menssagem-erro{width:300px; height:60px;}
    .text-menssagem-erro{font-size: 18px;}
    .item-topo-resultados{height:84px; width:100%; padding-bottom: 14px;}
    .font-topo-resultados{width:100%; font-size: 18px; text-align: center; padding-bottom:22px;}
    .item-select{width:172px; height:40px; margin: 0 auto;}
    .selectOrdenacao{width:172px; height:40px; font-size: 15px;}

    .item-resultados{width: 256px; height:auto;  margin: 0 auto; padding: 10px 0; position: relative; overflow: hidden;}
    .balao-resultados{width:250px; height:145px; border: 3px solid #4D4D4D; border-radius:25px 25px; }
    .item-conteudo-resultados{width: 250px; height: auto; background-color: #F0F0F0;  padding-bottom:18px; border-radius:10px 10px; margin: 0 auto; margin-bottom: 15px;}
    .font-conteudo-resultados{font-size: 18px; padding-top:7px; padding-left: 7px; padding-bottom: 14px;}
    .resultado-balao-mais-avaliados{ margin-bottom:10px; }
    .endereco-localizacao{padding-left:9px;}
    .item-endereco-localizacao{height: 30px; width:208px; padding-left:7px; }/*Pode colocar ate 33 caracteres e depois coloca reticências*/
    .icone-localizacao{background: url(../img/mg/vicosa/layout/celular/icone-localizacao.png)  100% 100% no-repeat; width: 14px; height: 20px; float:left;}
    .item-endereco-localizacao-2{height: 30px; width:208px; padding-left:7px;}
    .font-endereco-localizacao{font-size:14px;}
    .holder{padding-bottom: 15px;}


    /*************************************************************************/
    /*************************** TELA DETALHES *******************************/
    /*************************************************************************/
    #tela-desktop-menor, #tela-desktop-maior{display:none;}

    /* Configuracoes slider*/
    #tela-celular-tablet .bx-wrapper{ height: 170px !important; margin-bottom:0 !important; padding-top: 16px;}

        ul{-webkit-padding-start: 0 !important; -webkit-margin-after: 0 !important; -webkit-margin-before: 0 !important;}

        #tela-celular-tablet .bx-viewport{width:250px !important; position:initial !important; margin:0 auto !important; }

        #tela-celular-tablet .imagem-detalhes{width: 250px !important; height: 130px !important;}

        #tela-celular-tablet .bx-wrapper .bx-pager{ margin-bottom:35px !important;}

            /*Modal slider interno*/

            .modal-slider{}

            .modal-slider li{width: auto !important;}

                .modal-slider .bx-wrapper{max-width: none !important; }

                    .modal-slider .bx-viewport{margin: 0 auto;}

                        .modal-slider .imagem-detalhes-zoom{}

                        .modal-slider .bx-pager{ margin: 0 auto !important;}

                            .modal-slider .bx-prev, .modal-slider .bx-next{display:block;}

                                .modal-slider .bx-next{display:block; right: 1.0em !important; }

                                .modal-slider .bx-prev{left: 0.5em !important;}

    /* Configuracoes informacoes estabelecimento*/
    .fundo-informacoes{width:300px;height:auto; overflow: hidden; margin: 0 auto;}

        .font-topo-detalhes{padding-top:9px; padding-bottom:13px; font-size: 16px; }

        .item-endereco-icone-botao{height: auto; width: auto; overflow:auto; padding-bottom: 13px; }

            .endereco-localizacao-detalhes{padding-left:9px; float: left; height: 100%;}

            .item-endereco-local-detalhes{width:250px; height: auto; padding-left:8px; float:left;}

                .font-endereco-localizacao-detalhes{font-size:13px; float:left; padding-bottom: 4px;}

                    .item-botao-mapa{ padding-left: 4px; width: 64px; padding-left:14px; float:left;}

                    .botao-mapa{font-size: 13px; width: 64px;  }

        .item-telefone{height: 28px; width: 147px; padding-right: 50px; float: left; padding-bottom:13px;}

            .item-icone-telefone{height:28px; float:left;}

                .icone-telefone{background: url(../img/mg/vicosa/layout/celular/icone-telefone.png)  100% 100% no-repeat; width: 20px; height: 20px; padding-top: 4px; padding-left:8px; float: left;}

            .item-num-telefone{height: 28px; padding-left:4px; font-size:13px;}

        .item-botao-telefone{width:90px; height:28px; background-color: #F5911E; font-size: 14px; float:left; font-weight: 500;}

        .item-whatsapp{width:100%; height: auto; overflow: hidden; padding-bottom:13px;}

            .icone-whatsapp{background: url(../img/mg/vicosa/layout/celular/icone-whatsapp.png)  100% 100% no-repeat; width: 20px; height: 20px; padding-left:8px; float:left;}

            .item-num-whatsapp{padding-left:4px; font-size:13px;}

        .item-site{width:100%; height: auto; overflow: hidden; padding-bottom: 13px;}

            .icone-site{background: url(../img/mg/vicosa/layout/celular/icone-site.png)  100% 100% no-repeat; width: 20px; height: 16px; padding-left:8px; float:left;}

            .item-num-site{padding-left:4px; font-size:13px;}

        .item-entrega{padding-bottom:13px;}

            .icone-entrega{background: url(../img/mg/vicosa/layout/celular/icone-entrega.png)  100% 100% no-repeat; width: 20px; height: 16px; padding-left:8px; float:left;}

            .item-num-entrega{padding-left:4px; font-size:13px;}

        .detalhes-icones-socias{width:100%; height: auto; padding-left:5px !important; padding-right: 5px !important;}

            .detalhes-item-icones-sociais{padding-left:5px; padding-right: 5px; padding-bottom:9px;  width:32px; float:left;}

                .icone-android-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) 0 0  no-repeat; width: 32px; height: 32px;}

                .icone-apple-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -32px 0  no-repeat; width: 32px; height: 32px;}

                .icone-blogger-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -64px 0  no-repeat; width: 32px; height: 32px;}

                .icone-facebook-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -96px 0  no-repeat; width: 32px; height: 32px;}

                .icone-flickr-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -128px 0  no-repeat; width: 32px; height: 32px;}

                .icone-google-plus-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -160px 0  no-repeat; width: 32px; height: 32px;}

                .icone-instagram-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -192px 0  no-repeat; width: 32px; height: 32px;}

                .icone-linkedin-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -224px 0  no-repeat; width: 32px; height: 32px;}

                .icone-skype-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -256px 0  no-repeat; width: 32px; height: 32px;}

                .icone-tumblr-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -288px 0  no-repeat; width: 32px; height: 32px;}

                .icone-twitter-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -320px 0  no-repeat; width: 32px; height: 32px;}

                .icone-vimeo-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -352px 0  no-repeat; width: 32px; height: 32px;}

                .icone-youtube-detalhes{background: url(../img/mg/vicosa/layout/celular/iconesRedesSociais.png) -384px 0  no-repeat; width: 32px; height: 32px;}

         /*configuracoes modal telefone*/
        .item-modal-telefones{padding-bottom:8px; width: 166px; margin: 0 auto;}

            .item-icone-popup{width:32px; padding-left:8px;}

                .icone-claro{background: url(../img/mg/vicosa/layout/celular/iconesOperadoras.png) 0 0  no-repeat; width: 30px; height: 30px; }

                .icone-oi{background: url(../img/mg/vicosa/layout/celular/iconesOperadoras.png) -30px 0  no-repeat; width: 30px; height: 30px;}

                .icone-vivo{background: url(../img/mg/vicosa/layout/celular/iconesOperadoras.png) -60px 0  no-repeat; width: 30px; height: 30px;}

                .icone-tim{background: url(../img/mg/vicosa/layout/celular/iconesOperadoras.png) -90px 0  no-repeat; width: 30px; height: 30px;}

                .icone-celular{background: url(../img/mg/vicosa/layout/celular/iconesOperadoras.png) -120px 0  no-repeat; width: 30px; height: 30px;}

            .font-modal{padding-left:8px;}

        .item-modal-text{padding-top:12px;}

    /*Configuracao area indicacao*/
    .item-area-indicacao-texto{display:table; overflow:hidden; height:28px; max-width: 100%; margin: 0 auto; padding-top:12px; padding-bottom: 12px; }

        .icone-indicacao{background: url(../img/mg/vicosa/layout/celular/iconesIndicar.png) 0 0  no-repeat; width: 32px; height: 28px;}

        .item-num-indicacao{display:table; height:28px; max-width: 249px; overflow:hidden; font-size: 15px; float:left; padding-left: 8px; }

    .item-area-indicacao{padding-top:12px; width:268px; height:28px; margin: 0 auto; padding-bottom:15px;}

        .botao-indicacao{width:63px; height:28px; background-color: #F5911E; border: none; margin-right: 39px; cursor:pointer;}

        .font-botao-indicacao{font-size:14px; font-weight: 500;}

        .icone-nao-indicacao{background: url(../img/mg/vicosa/layout/celular/iconesIndicar.png) -32px 0  no-repeat; width: 32px; height: 28px;}

        .botao-nao-indicacao{width: 92px; height:28px; background-color: #F5911E; border: none; cursor:pointer;}


    /*Configuracao botao modais*/
    .item-botao-popup{width:300px; height: auto; overflow: hidden; margin: 0 auto;}

        .item-horizontal-popup{width:100%; height:42px; padding-bottom: 12px;}

            .botao-popup-esquerda{width:145px; height:42px; float:left; background-color: #F5911E; border: none; cursor:pointer; margin-right:10px;}

                .icone-horario-funcionamento{background: url(../img/mg/vicosa/layout/celular/iconesBotoes.png) 0 0  no-repeat; width: 32px; height: 32px;}

                .icone-mensagem{background: url(../img/mg/vicosa/layout/celular/iconesBotoes.png) -32px 0  no-repeat; width: 32px; height: 32px;}

                .icone-forma-de-pagamento{background: url(../img/mg/vicosa/layout/celular/iconesBotoes.png) -64px 0  no-repeat; width: 32px; height: 32px;}

                .icone-sobre{background: url(../img/mg/vicosa/layout/celular/iconesBotoes.png) -96px 0  no-repeat; width: 32px; height: 32px; }

                .icone-planos{background: url(../img/mg/vicosa/layout/celular/iconesBotoes.png) -128px 0  no-repeat; width: 32px; height: 32px;}

                .font-botao-popup{font-size: 14px; width:105px; text-align: center; font-weight: 500;}

            .botao-popup-direita{width:145px; height:42px; float:left; background-color: #F5911E; border: none; cursor:pointer;}


        /*Configuracao modais*/

        .ui-widget-header{ height: auto !important;}

            .ui-dialog-title{width:100% !important; height: auto !important; }

        .ui-dialog .ui-dialog-content{padding: 0 !important;}

        #modal-hFuncionamento, #modal-mensagem, #modal-fPagamento, #modal-sobre, #modal-planos-aceitos, #modal-telefone{padding-top: 6px !important;}

        #modal-hFuncionamento{margin: 0 auto;}

            .item-modal2{ width: 235px; margin: 0 auto;}

                #form-cel{width:235px !important; margin: 0 auto;}

                    #nomeid, #nomeid-detalhes, #emailid, #emailid-detalhes, #assuntoid, #mensagem{width: 230px; !important; text-align: left !important; padding-left:5px !important;}

                    .selectOrdenacaoB{width:235px; height: 40px; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8;}

                    #mensagem{height: auto; min-height: 160px; vertical-align: text-top !important; padding-top: 0 !important; overflow:hidden; resize: none; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8;}

                .item-modal-pagamento, .item-modal-planos{padding-bottom:8px; width: auto; margin: 0 auto;}

                .item-modal-planos{padding-bottom:20px;}

                    .font-modal-pagamento, .font-modal-planos{padding-left:20px;}

                .font-modal-estabelecimento{padding-bottom:8px; font-size: 20px;}

                .font-modal-sobre{font-size: 13px; font-weight: 500;}


        #modal-num-avaliacao{padding-left:0 !important;}

            .item-modal-num{padding-bottom:8px; padding-top: 8px; width: 300px; margin: 0 auto; padding-left: 0 !important;}

                .item-imagem-avaliacao-usuario{max-width:72px;}

                    .font-modal-avaliacao-nome{font-size: 15px;}

                .item-avaliacao-comentario-detalhes{padding-left:18px;}

                    .font-modal-avaliacao-comentario{font-size: 14px; padding-bottom: 20px;}

                    .item-avaliacao-estrelas-detalhes{float:left;}

                    .item-avaliacao-detalhes-estrela-data{height:24px; display: table; float:right;}

                        .font-data-comentario-detalhes{font-size: 14px; }

            .borda-separa-comentario{border: 1px solid #ddd; width: 300px;}

    /*Configuracao mensagem avaliacao detalhes*/
    #item-detalhes-mensagem{width:100%; margin: 0 auto; }

        .item-avaliacao-detalhes{padding-bottom: 8px;}

            .fundo-avaliacao-detalhes{width:300px; height: auto; min-height: 218px; margin: 0 auto;}

                .font-titulo-avaliacao-detalhes{padding-top: 10px; font-size:16px;}

                .item-detalhes-estrela-avaliacao{width: auto; margin: 0 auto; padding-top: 13px; }

                    .item-icone-estrela-detalhes{padding-right: 8px;}

                        .icone-avaliacao-detalhes{background: url(../img/mg/vicosa/layout/celular/estrelasAvaliacoes.png) 0 0 no-repeat; width:26px; height: 25px; float: left; }

                        .icone-avaliacao-detalhes-amarelo-hover, .icone-avaliacao-detalhes-amarelo-clique{background: url(../img/mg/vicosa/layout/celular/estrelasAvaliacoes.png) -28px 0 no-repeat; width:26px; height: 25px; float: left; cursor:pointer;}

                    .botao-numero-avaliacao{width:auto; min-width:40px; height: 32px;}

                    .num-destalhes-avaliacao{font-size:14px;}

                #mensagem-detalhes{}

                    #fundo-mensagem-detalhes-d-maior{width:287px !important;  height: auto; min-height: 98px; resize: none; margin-left: 3.2px; }
					#fundo-mensagem-detalhes-d-menor{width:287px !important;  height: auto; min-height: 98px; resize: none; margin-left: 3.2px; }
					#fundo-mensagem-detalhes-tablet{width:287px !important;  height: auto; min-height: 98px; resize: none; margin-left: 3.2px; }

                .item-botao-avaliar-detalhes{width:92px; height:28px; margin: 0 auto; padding-bottom: 14px;}

                    .botao-avaliar-detalhes{width:92px; height:28px; background-color: #F5911E; float:none !important; border:none;}

                    .font-botao-detalhes-avaliacao{font-size: 14px;  font-weight: 500;}


    /*************************************************************************/
    /*************************** TELA CONTATO ********************************/
    /*************************************************************************/

    .font-msg-inicial-contato{font-size: 16px; padding-top: 17px; width:289px; margin: 0 auto;  text-align: center; padding-bottom: 5px;}

    #form-contato{width:240px; height: 195px; padding-bottom:160px;}

    .item-info-contato{width: 240px; height:165px;}

        #nomeid-contato, #emailid-contato, #assuntoid-contato {font-size: 16px; width: 240px; !important; text-align: left !important; padding-left:5px !important; }

            #mensagem-contato { width: 240px; !important; text-align: left !important; padding-left:5px !important;}

            #mensagem-contato{ font-size: 16px; height: auto; min-height: 100px; vertical-align: text-top !important; padding-top: 0 !important; overflow:hidden; resize: none; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8;}

            .item-botao-contato{width: 92px; height: 28px;}

                .botao-contato{width: 92px; height: 28px; font-size: 14px; font-weight: 500;}

}