
@media screen and (min-width: 800px) and (max-width: 1200px) {

    /*************************************************************************/
    /**************************** MENU E RODAPE ******************************/
    /*************************************************************************/

    /*Definicao logo*/
    .fundo-topo{height:95px;}
    .conteudo-topo{width:800px; height:95px;}
    .logo-cidade{width:250px; height:92px; float:left; padding-top:1px;}
    .conteudo-item{width:404px; height:95px; }
    .item-inicio, .item-sobre, .item-contato{width:107px; height:95px; cursor:pointer;}
    .item-busca{width:168px; height:95px; cursor:pointer;}
    .item-conquiste{width:190px; height:95px; cursor:pointer;}
    .font-topo{font-size:19px; padding-top:4px; padding-left:10px; padding-right: 10px;}
    .menu, #mmenu{display:none !important;}
    .item-font-modal-conquiste{width: 350px;}
    #telefoneid, #empresaid{width: 300px; !important; text-align: left !important; padding-left:5px !important;}
    #modal-conquiste{padding-top: 8px !important;}

    .ui-widget input{font-size: 16px !important;}

    /*Imagem icone menu*/
    .icone-inicio-inativo{ background: url(../img/mg/vicosa/layout/desktop-menor/icones-menu.png) 0 0 no-repeat; width: 32px; height: 32px;  margin:22px auto 0 auto;}
    .icone-inicio-ativo{  background: url(../img/mg/vicosa/layout/desktop-menor/icones-menu.png) -32px 0 no-repeat; width: 32px; height: 32px; margin:22px auto 0 auto;}
    .icone-busca-inativo{  background: url(../img/mg/vicosa/layout/desktop-menor/icones-menu.png) 0 -32px no-repeat; width: 32px; height: 32px; margin:22px auto 0 auto; }
    .icone-busca-ativo{  background: url(../img/mg/vicosa/layout/desktop-menor/icones-menu.png) -32px -32px no-repeat; width: 32px; height: 32px; margin:22px auto 0 auto; }
    .icone-sobre-inativo{  background: url(../img/mg/vicosa/layout/desktop-menor/icones-menu.png) 0 -64px no-repeat; width: 32px; height: 32px; margin:22px auto 0 auto; }
    .icone-sobre-ativo{  background: url(../img/mg/vicosa/layout/desktop-menor/icones-menu.png) -32px -64px no-repeat; width: 32px; height: 32px; margin:22px auto 0 auto; }
    .icone-contato-inativo{  background: url(../img/mg/vicosa/layout/desktop-menor/icones-menu.png) 0 -96px no-repeat; width: 32px; height: 32px; margin:22px auto 0 auto; }
    .icone-contato-ativo{  background: url(../img/mg/vicosa/layout/desktop-menor/icones-menu.png) -32px -96px no-repeat; width: 32px; height: 32px; margin:22px auto 0 auto; }
    .icone-conquiste-inativo{  background: url(../img/mg/vicosa/layout/desktop-menor/icones-menu.png) 0 -128px no-repeat; width: 32px; height: 32px; margin:22px auto 0 auto; }
    .icone-conquiste-ativo{  background: url(../img/mg/vicosa/layout/desktop-menor/icones-menu.png) -32px -128px no-repeat; width: 32px; height: 32px; margin:22px auto 0 auto; }

    /*Imagens logo das cidades de MG*/
    .logo-mg-vicosa{background: url(../img/mg/vicosa/layout/desktop-menor/logo-vicosa.png) 100% 100% no-repeat;}

    .fundo-conteudo{width:800px;}
    .area-total{width: 479px; padding:32px 0 22px 0; margin:0 auto; vertical-align:top;}
    .area-pesquisa{width:337px; margin-right: 18px; display:inline-block;}
    input{width:337px; height:45px;  }
    .font-area{font-size:21px;}
    .area-botao{width:119px; display:inline-block; vertical-align:top;}
    .botao-pesquisa{width:119px; height:49px; /*margin-right:6px;*/ cursor:pointer; }
    .font-botao-pesquisa{font-size: 23px; font-weight: 500;}
    .botao-categoria{width:129px; height:49px; cursor:pointer;}

    /*definicao rodape*/
    .fundo-rodape{height:80px;}
    .item-rodape{ width:800px; }
    /*Caso queira adicionar mais icones socias deve diminuir o padding para os icones sociais*/
    .item-logo-rodape{width:177px; padding-left:311px; padding-right:187px;}
    .item-email-rodape{font-size: 14px;}
    .item-icones-sociais{width:87px; padding-top: 5px;}



    /*Imagem rodape-logo-viçosa*/
    .rodape-logo-mg-vicosa{background: url(../img/mg/vicosa/layout/desktop-menor/logo-vicosa-rodape.png) 100% 100% no-repeat; width: 177px; height: 61px; margin: 0 auto;}
    .icone-facebook{background: url(../img/mg/vicosa/layout/desktop-menor/icones-sociais.png) 0 0 no-repeat; width: 40px; height: 40px; margin: 0 auto; display: inline-block; cursor: pointer;}
    .icone-twitter{background: url(../img/mg/vicosa/layout/desktop-menor/icones-sociais.png) 0 -40px no-repeat; width: 40px; height: 40px; margin: 0 auto; display: inline-block; cursor: pointer;}

    /**************************************************************************/
    /******************************  TELA INICIAL *****************************/
    /**************************************************************************/

    /*Definicao conteudo*/
    #desktop-maior, #tablet, #celular{display: none;}

    .font-top-servicos{font-size: 30px; padding:0 0 20px 10px;}

    /*Definição mais avaliados*/
    .mais-avaliados{width:100%; padding-left: 3px !important; }
    .balao-mais-avaliados{ margin:0 1px 32px 1px; }

    .item-botao-mais-avaliados{width:155px; height:43px; margin: 0 auto; padding-left:645px; padding-bottom:32px;}
    .botao-mais-avaliados{width: 146px; height:43px;}
    .fonte-botao-mais-avaliados{font-size: 23px;}

    /*************************************************************************/
    /*************************** TELA RESULTADOS *****************************/
    /*************************************************************************/
    /*Definicao conteudo*/
    #resultado-celular{display:none;}
    .item-menssagem-erro{padding-bottom: 40px; margin: 0 auto; width:573px;}
    .menssagem-erro{width:573px; height:60px;}
    .text-menssagem-erro{font-size: 24px;}
    .item-topo-resultados{height:33px; width:100%; padding-bottom:30px;}
    .font-topo-resultados{font-size: 26px; padding-left:29px; padding-right:235px; float:left;}
    .selectOrdenacao{width:172px; height:40px; font-size: 15px; float:left;}
    .font-modal-sobre{font-size: 15px; font-weight: 500;}

    .item-resultados{width: 702px; height:auto;  margin: 0 auto; padding-bottom: 22px; position: relative; overflow: hidden;}
    .balao-resultados{width:275px; height:145px; float:left; border: 3px solid #4D4D4D; border-radius:25px 25px; margin-right: 21px;}
    .item-conteudo-resultados{width: 400px; height: auto; background-color: #F0F0F0; float:left; padding-bottom: 14px; border-radius:10px 10px;}
    .font-conteudo-resultados{font-size: 28px; padding-top:15px; padding-left: 12px; padding-bottom: 18px;}
    .avaliacao-resultados{width:250px; height: 38px; z-index:2}
    .avaliacao-resultados-estrela{display:inline-block; height: 38px; width:130px; padding-left: 12px; vertical-align:top;}
    .resultado-indicacao{display:inline-block; width:60px; height: 38px; margin-left:15px; margin-top: 2px; vertical-align:top;}
    .endereco-localizacao{padding-left:12px;}
    .item-endereco-localizacao{height: 38px; width:333px; padding-left:12px;}/*Pode colocar ate 40 caracteres e depois coloca reitcências*/
    .icone-localizacao{background: url(../img/mg/vicosa/layout/desktop-menor/icone-localizacao.png)  100% 100% no-repeat; width: 25px; height: 38px; float:left;}
    .item-endereco-localizacao-2{height: 38px; width:333px; padding-left:49px;}
    .font-endereco-localizacao{font-size:18px; text-overflow: ellipsis;}
    .holder{padding-bottom: 22px;}

    /*************************************************************************/
    /*************************** TELA DETALHES *******************************/
    /*************************************************************************/
    #tela-celular-tablet, #tela-desktop-maior{display:none;}

    /* Configuracoes slider*/

    .font-detalhes-inicio{padding-top:27px; font-size: 30px; padding-bottom: 33px;}

    .item-detalhes-slider-botoes{width:780px; height:230px; margin: 0 auto; padding-bottom: 16px;}

    #tela-desktop-menor .item-detalhes-slider-botoes .bx-wrapper{ max-width:350px !important; width: 350px; height:182px; margin:0; padding-right: 13px; float:left; !important;}

        #tela-desktop-menor .bx-viewport{border:none !important; left:0 !important;}

                #tela-desktop-menor ul.bxslider{-webkit-margin-before: 0 !important; -webkit-margin-after: 0 !important; -webkit-padding-start: 0 !important;}

                #tela-desktop-menor .bx-prev, .bx-next{display:none;}

            /*Modal slider interno*/

            .modal-slider{}

                .modal-slider .bx-wrapper{max-width: none !important; }

                    .modal-slider .bx-viewport{ margin: 0 auto;}

                    .modal-slider li {width: auto !important;}

                        .modal-slider .imagem-detalhes-zoom{}

                        .modal-slider .bx-pager{margin: 0 auto !important;}

                            .modal-slider .bx-prev, .modal-slider .bx-next{display:block;}

                            .modal-slider .bx-next{display:block; }

        /*Configuracao botao modais*/
        .item-botao-popup{width:417px !important; height: auto; overflow: hidden; float:left !important;}

            .item-horizontal-popup{width:100%; height:65px; padding-bottom: 14px;}

                .botao-popup-esquerda{width:200px; height:65px; float:left; background-color: #F5911E; border: none; cursor:pointer; margin-right:17px;}

                    .icone-horario-funcionamento{background: url(../img/mg/vicosa/layout/desktop-menor/iconesBotoesMaior.png) 0 0  no-repeat; width: 52px; height: 50px;}

                    .icone-mensagem{background: url(../img/mg/vicosa/layout/desktop-menor/iconesBotoesMaior.png) -52px 0  no-repeat; width: 52px; height: 50px;}

                    .icone-forma-de-pagamento{background: url(../img/mg/vicosa/layout/desktop-menor/iconesBotoesMaior.png) -104px 0  no-repeat; width: 52px; height: 50px;}

                    .icone-sobre{background: url(../img/mg/vicosa/layout/desktop-menor/iconesBotoesMaior.png) -156px 0  no-repeat; width: 52px; height: 50px; }

                    .icone-planos{background: url(../img/mg/vicosa/layout/desktop-menor/iconesBotoesMaior.png) -208px 0  no-repeat; width: 52px; height: 50px;}

                    .item-icone-popup{width:50px; padding-left:8px;}

                    .font-botao-popup{font-size: 18px; width:150px; text-align: center;}

                .botao-popup-direita{width:200px; height:65px; float:left; background-color: #F5911E; border: none; cursor:pointer;}

                /*Configuracao modais*/
                .ui-widget-header{ height: auto !important;}

                    .ui-dialog-title{width:100% !important; height: auto !important; font-size:22px;}

                .ui-dialog .ui-dialog-content{padding: 0 !important; }

                #modal-mensagem, #modal-hFuncionamento, #modal-sobre, #modal-planos-aceitos{padding-top: 8px !important;}

                #modal-hFuncionamento{margin: 0 auto;}

                    .item-modal2{width: 400px; margin: 0 auto;}

                        #form-cel{width:300px !important; margin: 0 auto;}

                            #nomeid, #nomeid-detalhes, #emailid, #emailid-detalhes, #assuntoid, #mensagem{width: 300px; !important; text-align: left !important; padding-left:5px !important;}

                            .selectOrdenacaoB{width:300px; height: 40px; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8;}

                            #mensagem{height: auto; min-height: 160px; vertical-align: text-top !important; padding-top: 0 !important; overflow:hidden; resize: none; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8;}

            .item-modal-pagamento, .item-modal-planos{padding-bottom:8px; padding-top:8px; width: auto; margin: 0 auto;}

            .item-modal-planos{padding-bottom:20px;}

            .item-modal-hFuncionamento, .item-modal-sobre{padding-bottom:8px; width: auto; margin: 0 auto;}

                .font-modal-estabelecimento{padding-bottom:8px; font-size: 22px;}

                .font-modal-pagamento, .font-modal-planos{padding-left:20px; font-size: 21px;}

        #modal-num-avaliacao{width: 350px !important; margin: 0 auto; }

            .item-modal-num{padding-bottom:8px; padding-top: 8px; width: 300px; margin: 0 auto; padding-left: 0 !important;}

                .font-modal-avaliacao-nome{font-size: 15px;  }

                .item-avaliacao-comentario-detalhes{padding-left:18px;}

                    .font-modal-avaliacao-comentario{font-size: 18px; padding-bottom: 20px;}

                    .item-avaliacao-detalhes-estrela-data{height:24px; display: table; float:right;}

                    .item-avaliacao-estrelas-detalhes{float:left;}

                        .font-data-comentario-detalhes{font-size: 15px; }

        .borda-separa-comentario{border: 1px solid #ddd; width: 350px;}


    /* Configuracoes informacoes estabelecimento*/

    .fundo-informacoes{width:750px; height:auto;  margin: 0 auto !important; padding-top: 10px;}

        .item-endereco-icone-botao{height: auto; width: auto; overflow:auto;  }

        .item-endereco-local-detalhes{width: 660px; height: auto; padding-left: 23px; float: left;}

            .font-endereco-localizacao-detalhes{font-size:18px; padding-bottom: 8px; height: auto; float:left;}

                .item-botao-mapa{ padding-left: 4px; width: 64px; padding-left:14px; float:left;}

                    .botao-mapa{font-size: 13px; width: 64px; }

        .item-telefone-font-botao{padding-bottom:20px;}

            .item-telefone{height: 40px; width: 207px; padding-right: 150px; float: left; }

                .item-icone-telefone{height:40px; float:left;}

                    .icone-telefone{background: url(../img/mg/vicosa/layout/desktop-menor/icone-telefone.png)  100% 100% no-repeat; width: 40px; height: 40px; padding-top: 4px; padding-left:8px; float: left;}

                .item-num-telefone{height: 40px; padding-left:10px; font-size:18px;}

            .item-botao-telefone{width:125px; height:40px; background-color: #F5911E; font-size: 18px; float:left; font-weight: 500;}

        .item-whatsapp{width:100%; height: auto; overflow: hidden; padding-bottom:25px;}

            .icone-whatsapp{background: url(../img/mg/vicosa/layout/desktop-menor/icone-whatsapp.png)  100% 100% no-repeat; width: 40px; height: 40px; padding-left:8px; float:left;}

            .item-num-whatsapp{padding-left:10px; font-size:18px; height:40px;}

        .item-site{width:100%; height: auto; overflow: hidden; padding-bottom: 21px;}

            .icone-site{background: url(../img/mg/vicosa/layout/desktop-menor/icone-site.png)  100% 100% no-repeat; width: 40px; height: 32px; padding-left:8px; float:left;}

                .item-num-site{padding-left:12px; font-size:18px; height: 32px;}

        .item-entrega{padding-bottom:21px;}

            .icone-entrega{background: url(../img/mg/vicosa/layout/desktop-menor/icone-entrega.png)  100% 100% no-repeat; width: 40px; height: 32px; padding-left:8px; float:left;}

            .item-num-entrega{padding-left:14px; font-size:18px; height: 32px;}

        .detalhes-icones-socias{width:100%; height: auto; padding-left:10px !important; padding-right: 10px !important; overflow: hidden;}

            .detalhes-item-icones-sociais{padding-left:8px; padding-right: 8px; padding-bottom:20px;  width:50px; float:left;}

                .icone-android-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) 0 0  no-repeat; width: 50px; height: 50px;}

                .icone-apple-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -50px 0  no-repeat; width: 50px; height: 50px;}

                .icone-blogger-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -100px 0  no-repeat; width: 50px; height: 50px;}

                .icone-facebook-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -150px 0  no-repeat; width: 50px; height: 50px;}

                .icone-flickr-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -200px 0  no-repeat; width: 50px; height: 50px;}

                .icone-google-plus-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -250px 0  no-repeat; width: 50px; height: 50px;}

                .icone-instagram-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -300px 0  no-repeat; width: 50px; height: 50px;}

                .icone-linkedin-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -350px 0  no-repeat; width: 50px; height: 50px;}

                .icone-skype-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -400px 0  no-repeat; width: 50px; height: 50px;}

                .icone-tumblr-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -450px 0  no-repeat; width: 50px; height: 50px;}

                .icone-twitter-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -500px 0  no-repeat; width: 50px; height: 50px;}

                .icone-vimeo-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -550px 0  no-repeat; width: 50px; height: 50px;}

                .icone-youtube-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -600px 0  no-repeat; width: 50px; height: 50px;}

        /*configuracoes modal telefone*/
        .item-modal-telefones{padding-bottom:8px; width: 210px; height: auto; margin: 0 auto; padding-top: 16px;}

            .icone-claro{background: url(../img/mg/vicosa/layout/desktop-menor/iconesOperadoras.png) 0 0  no-repeat; width: 40px; height: 40px; }

            .icone-oi{background: url(../img/mg/vicosa/layout/desktop-menor/iconesOperadoras.png) -40px 0  no-repeat; width: 40px; height: 40px;}

            .icone-vivo{background: url(../img/mg/vicosa/layout/desktop-menor/iconesOperadoras.png) -80px 0  no-repeat; width: 40px; height: 40px;}

            .icone-tim{background: url(../img/mg/vicosa/layout/desktop-menor/iconesOperadoras.png) -120px 0  no-repeat; width: 40px; height: 40px;}

            .icone-celular{background: url(../img/mg/vicosa/layout/desktop-menor/iconesOperadoras.png) -160px 0  no-repeat; width: 40px; height: 40px;}

            .font-modal{padding-left:8px; font-size: 21px;}

        .item-modal-text{padding-top:12px;}


    /*Configuracao area indicacao*/
    .item-area-indicacao{padding-top:12px; width:701px; height:28px; margin: 0 auto; padding-bottom:31px; }

        .item-num-indicação{width:300px; height: 40px; font-size: 21px; float:left; padding-right: 22px;}

        .icone-indicacao{background: url(../img/mg/vicosa/layout/desktop-menor/iconesIndicar.png) 0 0  no-repeat; width: 50px; height: 44px;}

        .botao-indicacao{width:95px; height:40px; background-color: #F5911E; border: none; margin-right: 39px; cursor:pointer;}

            .font-botao-indicacao{font-size:21px; font-weight: 500;}

        .icone-nao-indicacao{background: url(../img/mg/vicosa/layout/desktop-menor/iconesIndicar.png) -50px 0  no-repeat; width: 50px; height: 44px;}

        .botao-nao-indicacao{width: 135px; height:40px; background-color: #F5911E; border: none; cursor:pointer; font-weight: 500;}

    /*Configuracao mensagem avaliacao detalhes*/
    #item-detalhes-mensagem{width:100%; margin: 0 auto;}

        .item-avaliacao-detalhes{padding-bottom: 27px;}

            .fundo-avaliacao-detalhes{width:750px; height: auto; min-height: 388px; margin: 0 auto;}

                .font-titulo-avaliacao-detalhes{padding-top: 29px; font-size:24px;}

                .item-detalhes-estrela-avaliacao{width: auto; margin: 0 auto; padding-top: 25px; padding-bottom: 21px;}

                    .item-icone-estrela-detalhes{padding-right: 9px;}

                        .icone-avaliacao-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/estrelasAvaliacoes.png) -1px 0 no-repeat; width:32px; height: 32px; float: left; }

                    .icone-avaliacao-detalhes-amarelo-hover, .icone-avaliacao-detalhes-amarelo-clique{background: url(../img/mg/vicosa/layout/desktop-menor/estrelasAvaliacoes.png) -35px 0 no-repeat; width:32px; height: 32px; float: left; cursor:pointer;}

                    .botao-numero-avaliacao{width:auto; min-width:40px; height: 32px;}

                        .num-destalhes-avaliacao{font-size:21px; font-weight: 500;}

        #item-detalhes-mensagem{width:100%; margin: 0 auto;}

            #fundo-mensagem-detalhes-d-menor{width:683px !important;  height: auto; min-height: 171px; resize: none; margin-left:33px; font-size: 21px;}

        .item-botao-avaliar-detalhes{width:120px; height:40px; margin: 0 auto; padding-bottom: 20px;}

            .botao-avaliar-detalhes{width:120px; height:40px; background-color: #F5911E; float:none !important; border:none;}

            .font-botao-detalhes-avaliacao{font-size: 21px; font-weight: 500;}


    /*************************************************************************/
    /*************************** TELA CONTATO ********************************/
    /*************************************************************************/

    .font-msg-inicial-contato{font-size: 21px; padding-top: 24px; padding-left: 27px; padding-bottom: 5px;}
    #form-contato{width:400px; height: 195px; padding-bottom:200px;}
        .item-info-contato{width: 400px; height:210px; padding-right:61px; float:left;}
            #nomeid-contato, #emailid-contato, #assuntoid-contato {font-size: 18px; width: 400px; !important; text-align: left !important; padding-left:5px !important; }
            #mensagem-contato { width: 400px; !important; text-align: left !important; padding-left:5px !important;}
            #mensagem-contato{ font-size: 18px; height: auto; min-height: 106px; vertical-align: text-top !important; padding-top: 0 !important; overflow:hidden; resize: none; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8;}
            .item-botao-contato{width: 120px; height: 40px; font-size: 21px;}
                .botao-contato{width: 120px; height: 40px; font-size: 21px; font-weight: 500;}


}