@media screen and (min-width: 600px) and (max-width: 800px) {

    /*************************************************************************/
    /**************************** MENU E RODAPE ******************************/
    /*************************************************************************/
    /*Definicao logo*/
    .fundo-topo{height:75px;}
    .conteudo-topo{width:600px; height:75px;}
    .logo-cidade{width:200px; height:73px; float:left; padding-top:1px;}
    .conteudo-item{width:318px; height:75px;}
    .item-inicio, .item-sobre, .item-contato{width:84px; height:75px; cursor:pointer;}
    .item-busca{width:120px; height:75px; cursor:pointer;}
    .item-conquiste{width:150px; height:75px; cursor:pointer;}
    .font-topo{font-size:14px; padding-top:3px;}
    .menu, #mmenu{display:none !important;}
    .item-font-modal-conquiste{width: 300px;}
    #empresaid, #telefoneid{width: 230px; !important; text-align: left !important; padding-left:5px !important;}
    #modal-conquiste{padding-top: 8px !important;}

    .ui-widget input{font-size: 14px !important;}

    .icone-indicacao{background: url(../img/mg/vicosa/layout/tablet/iconesIndicar.png) 0 0  no-repeat; width: 32px; height: 28px;}
    .icone-nao-indicacao{background: url(../img/mg/vicosa/layout/tablet/iconesIndicar.png) -32px 0  no-repeat; width: 32px; height: 28px;}

    /*Imagem icone menu*/
    .icone-inicio-inativo{ background: url(../img/mg/vicosa/layout/tablet/icones-menu.png) 0 0 no-repeat; width: 25px; height: 25px;  margin:17px auto 0 auto;}
    .icone-inicio-ativo{  background: url(../img/mg/vicosa/layout/tablet/icones-menu.png) -25px 0 no-repeat; width: 25px; height: 25px; margin:17px auto 0 auto;}
    .icone-busca-inativo{  background: url(../img/mg/vicosa/layout/tablet/icones-menu.png) 0 -25px no-repeat; width: 25px; height: 25px; margin:17px auto 0 auto; }
    .icone-busca-ativo{  background: url(../img/mg/vicosa/layout/tablet/icones-menu.png) -25px -25px no-repeat; width: 25px; height: 25px; margin:17px auto 0 auto; }
    .icone-sobre-inativo{  background: url(../img/mg/vicosa/layout/tablet/icones-menu.png) 0 -50px no-repeat; width: 25px; height: 25px; margin:17px auto 0 auto; }
    .icone-sobre-ativo{  background: url(../img/mg/vicosa/layout/tablet/icones-menu.png) -25px -50px no-repeat; width: 25px; height: 25px; margin:17px auto 0 auto; }
    .icone-contato-inativo{  background: url(../img/mg/vicosa/layout/tablet/icones-menu.png) 0 -75px no-repeat; width: 25px; height: 25px; margin:17px auto 0 auto; }
    .icone-contato-ativo{  background: url(../img/mg/vicosa/layout/tablet/icones-menu.png) -25px -75px no-repeat; width: 25px; height: 25px; margin:17px auto 0 auto; }
    .icone-conquiste-inativo{  background: url(../img/mg/vicosa/layout/tablet/icones-menu.png) 0 -100px no-repeat; width: 25px; height: 25px; margin:17px auto 0 auto; }
    .icone-conquiste-ativo{  background: url(../img/mg/vicosa/layout/tablet/icones-menu.png) -25px -100px no-repeat; width: 25px; height: 25px; margin:17px auto 0 auto; }

    .icone-claro{background: url(../img/mg/vicosa/layout/tablet/iconesOperadoras.png) 0 0  no-repeat; width: 30px; height: 30px; }
    .icone-oi{background: url(../img/mg/vicosa/layout/tablet/iconesOperadoras.png) -30px 0  no-repeat; width: 30px; height: 30px;}
    .icone-vivo{background: url(../img/mg/vicosa/layout/tablet/iconesOperadoras.png) -60px 0  no-repeat; width: 30px; height: 30px;}
    .icone-tim{background: url(../img/mg/vicosa/layout/tablet/iconesOperadoras.png) -90px 0  no-repeat; width: 30px; height: 30px;}
    .icone-celular{background: url(../img/mg/vicosa/layout/tablet/iconesOperadoras.png) -120px 0  no-repeat; width: 30px; height: 30px;}


    /*Imagens logo das cidades de MG*/
    .logo-mg-vicosa{background: url(../img/mg/vicosa/layout/tablet/logo-vicosa.png) 100% 100% no-repeat;}

    .fundo-conteudo{width:600px;}
    .area-pesquisa{width:300px; padding:17px 0 13px 0;}
    input{width:300px; height:40px; margin-top:13px;}
    .font-area{font-size:18px;}
    .area-botao{width:100px; height: 35px; padding-bottom:13px; margin:0 auto; }
    .botao-pesquisa{width:100px; height:35px; /*margin-right:5px;*/ cursor:pointer; }
    .font-botao-pesquisa{font-size: 20px; font-weight: 500;}
    .botao-categoria{width:100px; height:35px; cursor:pointer;}

    /*Definicao rodape*/
    .fundo-rodape{height:85px;}
    .item-rodape{ width:600px; }
    /*Caso queira adicionar mais icones socias deve diminuir o padding para os icones sociais*/
    .item-logo-rodape{width:191px; padding-left:205px; padding-right:111px;}
    .item-email-rodape{font-size: 14px;}
    .item-icones-sociais{width:78px; padding-top: 7px;}

    /*Imagem rodape-logo-viçosa*/
    .rodape-logo-mg-vicosa{background: url(../img/mg/vicosa/layout/tablet/logo-vicosa-rodape.png) 100% 100% no-repeat; width: 191px; height: 66px; margin: 0 auto;}
    .icone-facebook{background: url(../img/mg/vicosa/layout/tablet/icones-sociais.png) 0 0 no-repeat; width: 35px; height: 35px; margin: 0 auto; display: inline-block;}
    .icone-twitter{background: url(../img/mg/vicosa/layout/tablet/icones-sociais.png) 0 -35px no-repeat; width: 35px; height: 35px; margin: 0 auto; display: inline-block;}

    /**************************************************************************/
    /******************************  TELA INICIAL *****************************/
    /**************************************************************************/

    /*Definicao conteudo*/
    #desktop-maior, #desktop-menor, #celular{display:none;}

    .font-top-servicos{font-size: 24px; padding:0 0 15px 30px; float:left; width:570px;}

    /*Definição mais avaliados*/
    .mais-avaliados{width:100%; padding-left: 20px !important; }
    .balao-mais-avaliados{ margin:0 10px 32px 10px; }

    .item-botao-mais-avaliados{width:150px; height:35px; margin: 0 auto; padding-left:450px; padding-bottom:32px;}
    .botao-mais-avaliados{width: 121px; height:35px;}
    .fonte-botao-mais-avaliados{font-size: 19px;}


    /*************************************************************************/
    /*************************** TELA RESULTADOS *****************************/
    /*************************************************************************/

    /*Definicao conteudo*/
    #resultado-celular{display:none;}
    .item-menssagem-erro{padding:14px 0 12px 0; margin: 0 auto; width:333px;}
    .menssagem-erro{width:333px; height:50px;}
    .text-menssagem-erro{font-size: 18px;}
    .item-topo-resultados{height:33px; width:100%; padding-bottom:22px; padding-top: 12px;}
    .font-topo-resultados{font-size: 22px; padding-left:18px; padding-right:124px; float:left;}
    .selectOrdenacao{width:172px; height:40px; font-size: 15px; float:left;}

    .item-resultados{width: 564px; height:auto;  margin: 0 auto; padding-bottom: 26px; position: relative; overflow: hidden;}
    .balao-resultados{width:275px; height:145px; float:left; border: 3px solid #4D4D4D; border-radius:25px 25px; margin-right: 9px; }
    .item-conteudo-resultados{width: 270px; height: auto; background-color: #F0F0F0; float:left; padding-bottom:20px; border-radius:10px 10px;}
    .font-conteudo-resultados{font-size: 22px; padding-top:16px; padding-left: 9px; padding-bottom: 18px;}
    .avaliacao-resultados{width:250px; height: 38px; z-index:2}
    .avaliacao-resultados-estrela{display:inline-block; height: 38px; width:130px; padding-left: 12px; vertical-align:top;}
    .resultado-indicacao{display:inline-block; width:60px; height: 38px; margin-left:15px; margin-top: 2px; vertical-align:top;}
    .endereco-localizacao{padding-left:9px;}
    .item-endereco-localizacao{height: 30px; width:234px; padding-left:7px; }/*Pode colocar ate 33 caracteres e depois coloca reticências*/
    .icone-localizacao{background: url(../img/mg/vicosa/layout/tablet/icone-localizacao.png)  100% 100% no-repeat; width: 20px; height: 30px; float:left;}
    .item-endereco-localizacao-2{height: 30px; width:234px; padding-left:36px;}
    .font-endereco-localizacao{font-size:14px;}
    .holder{padding-bottom: 26px;}

    .ui-dialog{/*width:320px !important; height: auto;*/}

    /*************************************************************************/
    /*************************** TELA DETALHES *******************************/
    /*************************************************************************/
    #tela-desktop-menor, #tela-desktop-maior{display:none;}

    /* Configuracoes slider*/
    #tela-celular-tablet .bx-wrapper{ max-width:470px !important; height: 248px !important; margin-bottom:0 !important; padding-top: 16px;}

        #tela-celular-tablet ul{-webkit-padding-start: 0 !important; -webkit-margin-after: 0 !important; -webkit-margin-before: 0 !important;}

        #tela-celular-tablet .bx-viewport{width:400px !important;  position:initial !important; margin:0 auto !important; }

        #tela-celular-tablet .imagem-detalhes{width: 400px !important; height: 208px !important;}

        #tela-celular-tablet .bx-wrapper .bx-pager{ margin-bottom:35px !important; padding-top:18px;}

            /*Modal slider interno*/

            .modal-slider{}

                .modal-slider .bx-wrapper{max-width: none !important; /*max-width: 1093px !important; width: 1093px !important; height:520px !important;*/}

                    .modal-slider .bx-viewport{/*max-width: 1000px !important; width: 1000px !important; height:520px !important;*/ margin: 0 auto;}

                        .modal-slider li {width: auto !important;}

                        .modal-slider .imagem-detalhes-zoom{/*width: 1000px !important; height:520px !important;*/ }

                        .modal-slider .bx-pager{/*width: 1000px !important;*/ margin: 0 auto !important;}

                            .modal-slider .bx-prev, .modal-slider .bx-next{display:block;}

                            .modal-slider .bx-next{display:block; }

    /*Configuracoes informacoes estabelecimento*/
    .fundo-informacoes{width:550px;height:auto; overflow: hidden; margin: 0 auto;}

        .font-topo-detalhes{padding-top:9px; padding-bottom:28px; font-size: 18px;}

        .item-endereco-icone-botao{height: auto; width: auto; overflow:auto; padding-bottom:15px; }

            .endereco-localizacao-detalhes{padding-left:9px; float: left; height: 100%;}

            .item-endereco-local-detalhes{width: 480px; height: auto; padding-left:23px; float:left;}

                .font-endereco-localizacao-detalhes{font-size:16px; height: auto; float:left; padding-bottom: 6px;}

                    .item-botao-mapa{ padding-left: 4px; width: 64px; padding-left:14px; float:left;}

                    .botao-mapa{font-size: 13px; width: 64px;  }

        .item-telefone-font-botao{padding-bottom:15px; }

            .item-telefone{height: 30px; width: 161px; padding-right: 120px; float: left;}

                .item-icone-telefone{height:30px; float:left;}

                    .icone-telefone{background: url(../img/mg/vicosa/layout/tablet/icone-telefone.png)  100% 100% no-repeat; width: 30px; height: 30px; padding-left:9px; float:left;}

                .item-num-telefone{ height: 30px; padding-left:15px; font-size:16px; }

        .item-botao-telefone{width:120px; height:40px; background-color: #F5911E; font-size: 20px; float:left; font-weight: 500}

        .item-whatsapp{width:100%; height: auto; overflow: hidden; padding-bottom:19px;}

            .icone-whatsapp{background: url(../img/mg/vicosa/layout/tablet/icone-whatsapp.png)  100% 100% no-repeat; width: 30px; height: 30px; padding-left:9px; float:left;}

            .item-num-whatsapp{padding-left:16px; height:30px; font-size:16px;}

        .item-site{width:100%; height: auto; overflow: hidden; padding-bottom: 22px;}

            .icone-site{background: url(../img/mg/vicosa/layout/tablet/icone-site.png)  100% 100% no-repeat; width: 30px; height: 24px; padding-left:8px; float:left;}

            .item-num-site{padding-left:20px; height: 24px; font-size:16px;}

        .item-entrega{padding-bottom:22px;}

            .icone-entrega{background: url(../img/mg/vicosa/layout/tablet/icone-entrega.png)  100% 100% no-repeat; width: 30px; height: 24px; padding-left:8px; float:left;}

            .item-num-entrega{padding-left:20px; height:24px; font-size:16px;}

        .detalhes-icones-socias{width:100%; height: auto; padding-left:5px !important; padding-right: 5px !important;}

            .detalhes-item-icones-sociais{padding-left:5px; padding-right: 5px; padding-bottom:9px;  width:32px; float:left;}


        /*configuracoes modal telefone*/

        .item-modal-telefones{padding-bottom:17px; width: 198px; margin: 0 auto;}

            .item-icone-popup{width:32px !important; padding-left:17px;}

            .font-modal{padding-left:8px; font-size: 21px;}

        .item-modal-text{padding-top:12px;}


    /*Configuracao area indicacao*/

    .item-area-indicacao-texto{display:table; overflow:hidden; height:37px; max-width: 100%; margin: 0 auto; padding-top:12px; padding-bottom: 12px;}

    .item-icone-indicacao{padding-top:6px;}

        .item-num-indicacao{display:table; height:37px; max-width: 330px; overflow:hidden; font-size: 18px; float:left; padding-left: 8px; }

        .item-area-indicacao{padding-top:20px; width:388px; height:40px; margin: 0 auto; padding-bottom:20px;}

            .botao-indicacao{width:95px; height:40px; background-color: #F5911E; border: none; margin-right: 76px; cursor:pointer;}

            .font-botao-indicacao{font-size:20px; font-weight: 500;}

            .botao-nao-indicacao{width: 135px; height:40px; background-color: #F5911E; border: none; cursor:pointer;}


    /*Configuracao botao modais*/
    .item-botao-popup{width:494px; height: auto; overflow: hidden; margin: 0 auto;}

        .item-horizontal-popup{width:100%; height:70px; padding-bottom: 20px;}

            .botao-popup-esquerda{width:210px; height:70px; float:left; background-color: #F5911E; border: none; cursor:pointer; margin-right:73px;}

                .icone-horario-funcionamento{background: url(../img/mg/vicosa/layout/tablet/iconesBotoes.png) 0 0  no-repeat; width: 32px; height: 32px;}

                .icone-mensagem{background: url(../img/mg/vicosa/layout/tablet/iconesBotoes.png) -32px 0  no-repeat; width: 32px; height: 32px;}

                .icone-forma-de-pagamento{background: url(../img/mg/vicosa/layout/tablet/iconesBotoes.png) -64px 0  no-repeat; width: 32px; height: 32px;}

                .icone-sobre{background: url(../img/mg/vicosa/layout/tablet/iconesBotoes.png) -96px 0  no-repeat; width: 32px; height: 32px; }

                .icone-planos{background: url(../img/mg/vicosa/layout/tablet/iconesBotoes.png) -128px 0  no-repeat; width: 32px; height: 32px;}

                .font-botao-popup{font-size: 20px; width:105px; text-align: center; font-weight: 500;}

            .botao-popup-direita{width:210px; height:70px; float:left; background-color: #F5911E; border: none; cursor:pointer;}


        /*Configuracao modais*/

        .ui-widget-header{ height: auto !important;}

            .ui-dialog-title{width:100% !important; height: auto !important; }

        .ui-dialog .ui-dialog-content{padding: 0 0 !important;}

        #modal-mensagem, #modal-hFuncionamento, #modal-sobre, #modal-planos-aceitos, #modal-telefone{padding-top: 8px !important;}

        .item-modal2{ width: 235px; margin: 0 auto;}

            #form-cel{width:235px !important; margin: 0 auto;}

                #nomeid, #nomeid-detalhes,  #emailid, #emailid-detalhes, #assuntoid, #mensagem{width: 230px; !important; text-align: left !important; padding-left:5px !important;}

                .selectOrdenacaoB{width:235px; height: 40px; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8;}

                #mensagem{height: auto; min-height: 160px; vertical-align: text-top !important; padding-top: 0 !important; overflow:hidden; resize: none; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8;}

            .item-modal-pagamento, .item-modal-planos{padding-bottom:8px; padding-top:8px; width: auto; margin: 0 auto;}

            .item-modal-planos{padding-bottom:20px;}

            .item-modal-hFuncionamento, .item-modal-sobre{padding-bottom:8px; width: auto; margin: 0 auto;}

                .font-modal-estabelecimento{padding-bottom:8px; font-size: 20px;}

                .font-modal-pagamento, .font-modal-planos{padding-left:20px; font-size: 21px;}

                .font-modal-sobre{font-size: 14px; font-weight: 500;}

        #modal-num-avaliacao{margin: 0 auto;}

            .item-modal-num{padding-bottom:8px; padding-top: 8px; width: 300px; margin: 0 auto; padding-left: 0 !important;}

                .item-imagem-avaliacao-usuario{max-width:72px;}

                    .font-modal-avaliacao-nome{font-size: 15px;}

                .item-avaliacao-comentario-detalhes{padding-left:18px;}

                    .font-modal-avaliacao-comentario{font-size: 14px; padding-bottom: 20px;}

                    .item-avaliacao-estrelas-detalhes{float:left;}

                    .item-avaliacao-detalhes-estrela-data{height:24px; display: table; float:right;}

                        .font-data-comentario-detalhes{font-size: 14px; }

            .borda-separa-comentario{border: 1px solid #ddd; width: 300px;}


    /*Configuracao mensagem avaliacao detalhes*/
    #item-detalhes-mensagem{width:100%; margin: 0 auto;}

        .item-avaliacao-detalhes{padding-bottom: 27px;}

            .fundo-avaliacao-detalhes{width:550px; height: auto; min-height: 369px; margin: 0 auto;}

                .font-titulo-avaliacao-detalhes{padding-top: 17px; font-size:21px;}

                .item-detalhes-estrela-avaliacao{width: auto; margin: 0 auto; padding-top: 25px; }

                    .item-icone-estrela-detalhes{padding-right: 8px;}

                        .icone-avaliacao-detalhes{background: url(../img/mg/vicosa/layout/tablet/estrelasAvaliacoes.png) -1px 0 no-repeat; width:32px; height: 32px; float: left; }

                        .icone-avaliacao-detalhes-amarelo-hover, .icone-avaliacao-detalhes-amarelo-clique{background: url(../img/mg/vicosa/layout/tablet/estrelasAvaliacoes.png) -35px 0 no-repeat; width:32px; height: 32px; float: left; cursor:pointer;}

                    .botao-numero-avaliacao{width:auto; min-width:40px; height: 32px;}

                    .num-destalhes-avaliacao{font-size:20px; font-weight: 500;}

                #fundo-mensagem-detalhes-tablet{width:454px !important;  height: auto; min-height: 171px; resize: none; margin-left: 49px; font-size: 18px;}

            .item-botao-avaliar-detalhes{width:120px; height:40px; margin: 0 auto; padding-bottom: 20px;}

                .botao-avaliar-detalhes{width:120px; height:40px; background-color: #F5911E; float:none !important; border:none;}

                .font-botao-detalhes-avaliacao{font-size: 20px; font-weight: 500;}


    /*************************************************************************/
    /*************************** TELA CONTATO ********************************/
    /*************************************************************************/

    .font-msg-inicial-contato{font-size: 20px; padding-top: 24px; width:500px; margin: 0 auto;  text-align: center;}
    #form-contato{width:350px; height: 230px; padding-bottom:200px;}
        .item-info-contato{width: 350px; height:250px; padding-right:61px; float:left;}
            #nomeid-contato, #emailid-contato, #assuntoid-contato {font-size: 16px; width: 350px; !important; text-align: left !important; padding-left:5px !important; }
            #mensagem-contato { width: 350px; !important; text-align: left !important; padding-left:5px !important;}
            #mensagem-contato{ font-size: 16px; height: auto; min-height: 106px; vertical-align: text-top !important; padding-top: 0 !important; overflow:hidden; resize: none; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8;}
            .item-botao-contato{width: 100px; height: 30px; }
                .botao-contato{width: 100px; height: 30px; font-size: 20px; font-weight: 500;}
}