@media screen and (min-width: 1200px) {

    /*************************************************************************/
    /**************************** MENU E RODAPE ******************************/
    /*************************************************************************/



    /*Definicao logo*/
    .fundo-topo{height:120px;}
    .conteudo-topo{width:1200px; height:120px;}
    .logo-cidade{width:300px; height:110px; float:left; padding-top:5px;}
    .conteudo-item{width:477px; height:120px;}
    .item-inicio, .item-sobre, .item-contato{width:135px; height:120px; cursor:pointer;}
    .item-busca{width:207px; height:120px; cursor:pointer;}
    .item-conquiste{width:207px; height:120px; cursor:pointer;}
    .font-topo{font-size:22px; padding-top:5px;}
    .menu, #mmenu{display:none !important;}
    .item-font-modal-conquiste{width: 460px;}
    #telefoneid, #empresaid{width: 400px; !important; text-align: left !important; padding-left:5px !important;}
    #modal-conquiste{padding-top: 8px !important;}

    .ui-widget input{font-size: 21px !important;}

    /*definicao rodape*/
    .fundo-rodape{height:106px; padding-top: 3px;}
    .item-rodape{ width:1200px; }
    .item-logo-rodape{width:233px; padding-left:484px; padding-right:290px;}
    .item-email-rodape{ font-size: 18px;}
    .item-icones-sociais{width:131px;}

    /*Imagem icone menu*/
    .icone-inicio-inativo{  background: url(../img/mg/vicosa/layout/desktop-maior/icones-menu.png) 0 0 no-repeat; width: 40px; height: 40px; margin:28px auto 0 auto;}
    .icone-inicio-ativo{  background: url(../img/mg/vicosa/layout/desktop-maior/icones-menu.png) -40px 0 no-repeat; width: 40px; height: 40px; margin:28px auto 0 auto;}
    .icone-busca-inativo{  background: url(../img/mg/vicosa/layout/desktop-maior/icones-menu.png) 0 -40px no-repeat; width: 40px; height: 40px; margin:28px auto 0 auto; }
    .icone-busca-ativo{  background: url(../img/mg/vicosa/layout/desktop-maior/icones-menu.png) -40px -40px no-repeat; width: 40px; height: 40px; margin:28px auto 0 auto; }
    .icone-sobre-inativo{  background: url(../img/mg/vicosa/layout/desktop-maior/icones-menu.png) 0 -80px no-repeat; width: 40px; height: 40px; margin:28px auto 0 auto; }
    .icone-sobre-ativo{  background: url(../img/mg/vicosa/layout/desktop-maior/icones-menu.png) -40px -80px no-repeat; width: 40px; height: 40px; margin:28px auto 0 auto; }
    .icone-contato-inativo{  background: url(../img/mg/vicosa/layout/desktop-maior/icones-menu.png) 0 -120px no-repeat; width: 40px; height: 40px; margin:28px auto 0 auto; }
    .icone-contato-ativo{  background: url(../img/mg/vicosa/layout/desktop-maior/icones-menu.png) -40px -120px no-repeat; width: 40px; height: 40px; margin:28px auto 0 auto; }
    .icone-conquiste-inativo{  background: url(../img/mg/vicosa/layout/desktop-maior/icones-menu.png) 0 -160px no-repeat; width: 40px; height: 40px; margin:28px auto 0 auto; }
    .icone-conquiste-ativo{  background: url(../img/mg/vicosa/layout/desktop-maior/icones-menu.png) -40px -160px no-repeat; width: 40px; height: 40px; margin:28px auto 0 auto; }

    /*Area pesquisa*/
    .fundo-conteudo{width:1200px;}
    .area-total{width: 479px; padding:37px 0 22px 0; margin:0 auto; vertical-align:top;}
    .area-pesquisa{width:337px; margin-right: 18px; display: inline-block;}
    input{width:337px; height:45px;  }
    .font-area{font-size:21px;}
    .area-botao{width:119px; display:inline-block; vertical-align:top;}
    .botao-pesquisa{width:119px; height:49px; /*margin-right:6px;*/ cursor:pointer; display:inline-block; vertical-align:top}
    .font-botao-pesquisa{font-size: 23px;}
    .botao-categoria{width:119px; height:49px; cursor:pointer;}

    /*Imagens logo das cidades de MG*/
    .logo-mg-vicosa{background: url(../img/mg/vicosa/layout/desktop-maior/logo-vicosa.png) 100% 100% no-repeat;}

    /*Imagem rodape-logo-viçosa*/
    .rodape-logo-mg-vicosa{background: url(../img/mg/vicosa/layout/desktop-maior/logo-vicosa-rodape.png) 100% 100% no-repeat; width: 219px; height: 75px; margin: 0 auto;}
    .icone-facebook{background: url(../img/mg/vicosa/layout/desktop-maior/icones-sociais.png) 0 0 no-repeat; width: 60px; height: 60px; margin: 0 auto; display: inline-block;}
    .icone-twitter{background: url(../img/mg/vicosa/layout/desktop-maior/icones-sociais.png) 0 -60px no-repeat; width: 60px; height: 60px; margin: 0 auto; display: inline-block;}



    /**************************************************************************/
    /******************************  TELA INICIAL *****************************/
    /**************************************************************************/

    /*Definicao conteudo*/
    #desktop-menor, #tablet, #celular{display:none;}

    .font-top-servicos{font-size: 30px; padding:0 0 25px 30px;}

    /*Definição mais avaliados*/
    .mais-avaliados{width:100%; padding-left:10px;}
    .balao-mais-avaliados{margin:0 15px 25px 15px; }
    .item-botao-mais-avaliados{width:196px; height:43px; margin: 0 auto; padding-left:1004px; padding-bottom: 25px;}
    .botao-mais-avaliados{width: 146px; height:43px;}
    .fonte-botao-mais-avaliados{font-size: 23px;}

    /*Imagem icone-balao que sera substituida pela imagem do estabelecimento*/
    .imagem-balao{  background: url(../img/mg/vicosa/layout/desktop-maior/imagem-balao.png) 100% 100% no-repeat; width: 56px; height: 57px;}
    .balao-rodape-avaliacao{background: url(../img/mg/vicosa/layout/desktop-maior/rodape-avaliacao.png) 100% 100% no-repeat; width: 130px; height: 24px;}


    /*************************************************************************/
    /*************************** TELA RESULTADOS *****************************/
    /*************************************************************************/

    /*Definicao conteudo*/
    #resultado-celular{display:none;}
    .item-menssagem-erro{padding-bottom: 40px; margin: 0 auto; width:573px;}
    .menssagem-erro{width:573px; height:60px;}
    .text-menssagem-erro{font-size: 24px;}
    .item-topo-resultados{height:40px; width:100%; padding-bottom:30px; }
    .font-topo-resultados{font-size: 30px; padding-left:20px; padding-right:556px; float:left;}
    .selectOrdenacao{width:200px; height:40px; font-size: 17px; float:left;}

    .item-resultados{width: 1052px; height:auto;  margin: 0 auto; padding-bottom: 25px; position: relative; overflow: hidden;}
    .balao-resultados{width:275px; height:145px; float:left; border: 3px solid #4D4D4D; border-radius:25px 25px; margin-right: 21px; }
    .item-conteudo-resultados{width: 750px; height: auto; background-color: #F0F0F0; float:left; padding-bottom: 9px; border-radius:10px 10px;}
    .font-conteudo-resultados{font-size: 30px; padding-top:16px; padding-left: 13px; padding-bottom: 19px;}
    .avaliacao-resultados{width:250px; height: 38px; z-index:2}
    .avaliacao-resultados-estrela{display:inline-block; height: 38px; width:130px; padding-left: 13px; vertical-align:top;}
    .resultado-indicacao{display:inline-block; width:60px; height: 38px; margin-left:15px; margin-top: 2px; vertical-align:top;}
    .endereco-localizacao{padding-left:13px;}
    .item-endereco-localizacao{height: 38px; width:634px; padding-left:12px;}
    .icone-localizacao{background: url(../img/mg/vicosa/layout/desktop-maior/icone-localizacao.png)  100% 100% no-repeat; width: 25px; height: 38px; float:left;}
    .item-endereco-localizacao-2{height: 38px; width:634px; padding-left:49px;}
    .font-endereco-localizacao{font-size:18px;}
    .holder{padding-bottom: 25px;}

    /*************************************************************************/
    /*************************** TELA DETALHES *******************************/
    /*************************************************************************/

    #tela-celular-tablet, #tela-desktop-menor{display:none;}

    /* Configuracoes slider*/
    #tela-desktop-maior .item-detalhes-slider-botoes{width:1100px; height:356px; margin: 0 auto; padding-top:44px; padding-bottom: 30px;}

        #tela-desktop-maior .item-slider-indicacao{width: 500px; float:left; padding-right: 66px;}

            #tela-desktop-maior .item-slider{height: 300px;}

                #tela-desktop-maior .item-slider .bx-wrapper{ max-width:500px !important; width: 500px; height:260px; margin:0;  float:left; !important;}

                    #tela-desktop-maior .bx-viewport{border:none !important; left:0 !important;}

                        #tela-desktop-maiorul.bxslider{-webkit-margin-before: 0 !important; -webkit-margin-after: 0 !important; -webkit-padding-start: 0 !important;}

                            #tela-desktop-maior .item-slider-indicacao .bx-pager{width: 500px !important; }

                            #tela-desktop-maior .bx-prev, .bx-next{display:none;}

                /*Modal slider interno*/

                .modal-slider{}

                    .modal-slider .bx-wrapper{max-width: none !important; }

                        .modal-slider .bx-viewport{margin: 0 auto;}

                            .modal-slider li {width: auto !important;}

                            .modal-slider .imagem-detalhes-zoom{}

                            .modal-slider .bx-pager{margin: 0 auto !important;}

                                .modal-slider .bx-prev, .modal-slider .bx-next{display:block;}

            /*Configuracao area indicacao*/
            .item-area-indicacao-texto{display:table; max-width: 100%; overflow:hidden; width:390px; height:50px; margin: 0 auto; /*padding-top: 35px;*/}

                .icone-indicacao{background: url(../img/mg/vicosa/layout/desktop-maior/iconesIndicar.png) 0 0  no-repeat; width: 50px; height: 44px;}

                .item-num-indicacao{display:table; max-width: 310px; overflow:hidden; height:50px; font-size: 21px; float:left; padding-left: 10px;}

                .item-area-indicacao{width:425px; height:44px; margin: 0 auto; }

                    .botao-indicacao{width:95px; height:40px; background-color: #F5911E; border: none; margin-right: 76px; cursor:pointer;}

                    .icone-nao-indicacao{background: url(../img/mg/vicosa/layout/desktop-maior/iconesIndicar.png) -50px 0  no-repeat; width: 50px; height: 44px;}

                    .botao-nao-indicacao{width: 135px; height:40px; background-color: #F5911E; border: none; cursor:pointer;}

        /*Configuracao botao modais*/
        .item-botao-popup{width:534px !important; height: auto; overflow: hidden; float:left !important;}

            .font-detalhes-inicio{font-size: 30px; padding-bottom: 37px;}

            .item-horizontal-popup{width:100%; height:80px; padding-bottom: 14px;}

                .botao-popup-esquerda{width:250px; height:80px; float:left; background-color: #F5911E; border: none; cursor:pointer; margin-right:31px;}

                    .item-icone-popup{width:50px; padding-left:8px;}

                        .icone-horario-funcionamento{background: url(../img/mg/vicosa/layout/desktop-maior/iconesBotoesMaior.png) 0 0  no-repeat; width: 52px; height: 50px;}

                        .icone-mensagem{background: url(../img/mg/vicosa/layout/desktop-maior/iconesBotoesMaior.png) -52px 0  no-repeat; width: 52px; height: 50px;}

                        .icone-forma-de-pagamento{background: url(../img/mg/vicosa/layout/desktop-maior/iconesBotoesMaior.png) -104px 0  no-repeat; width: 52px; height: 50px;}

                        .icone-sobre{background: url(../img/mg/vicosa/layout/desktop-maior/iconesBotoesMaior.png) -156px 0  no-repeat; width: 52px; height: 50px; }

                        .icone-planos{background: url(../img/mg/vicosa/layout/desktop-maior/iconesBotoesMaior.png) -208px 0  no-repeat; width: 52px; height: 50px;}

                    .font-botao-popup{width:200px; text-align: center;}

                    .font-botao-detalhes{font-size: 22px; font-weight: 500;}

                .botao-popup-direita{width:250px; height:80px; float:left; background-color: #F5911E; border: none; cursor:pointer;}

        /*Configuracao modais*/
        .ui-widget-header{ height: auto !important;}

            .ui-dialog-title{width:100% !important; height: auto !important; font-size:22px;}

        .ui-dialog .ui-dialog-content{padding: 0 !important; }

        #modal-mensagem, #modal-hFuncionamento, #modal-sobre, #modal-planos-aceitos, #modal-conquiste{padding-top: 8px !important; height: auto; margin: 0 auto;}

        .item-modal2{width: 400px; margin: 0 auto;}

            #form-cel{width:400px !important; margin: 0 auto;}

                #nomeid, #nomeid-detalhes, #emailid, #emailid-detalhes, #assuntoid, #mensagem{width: 400px; !important; text-align: left !important; padding-left:5px !important; }

                .selectOrdenacaoB{width:400px; height: 40px; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8; font-size: 18px;}

                #mensagem{ font-size: 18px; height: auto; min-height: 160px; vertical-align: text-top !important; padding-top: 0 !important; overflow:hidden; resize: none; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8;}

            .item-modal-pagamento, .item-modal-planos{padding-bottom:8px; padding-top:8px; width: auto; margin: 0 auto;}

            .item-modal-planos{padding-bottom:20px;}

            .item-modal-hFuncionamento, .item-modal-sobre{padding-bottom:8px; width: auto; margin: 0 auto;}

                .font-modal-estabelecimento{padding-bottom:8px; font-size: 25px;}

                .font-modal-pagamento, .font-modal-planos{padding-left:20px; font-size: 24px;}



    /*Configuracoes informacoes estabelecimento*/
    .fundo-informacoes{width:1100px; height:auto;  margin: 0 auto !important; padding-top: 10px;}

        .item-endereco-icone-botao{height: auto; width: auto; overflow:auto;  }

            .item-endereco-local-detalhes{ height: auto; width: 900px; padding-bottom: 38px; padding-left:12px; float:left;}

                .font-endereco-localizacao-detalhes{height:auto; font-size:24px; padding-left:14px;  padding-bottom: 8px; text-overflow: ellipsis;}

                    .item-botao-mapa{ padding-left: 10px; width: 64px; height: 38px; float:left;}

                        .botao-mapa{font-size: 13px; width: 64px; height: 17px; }

        .item-telefone-font-botao{padding-bottom:38px;}

            .item-telefone{height: 50px; width: 224px; padding-right: 300px; float: left; }

                .item-icone-telefone{height:40px; float:left;}

                    .icone-telefone{background: url(../img/mg/vicosa/layout/desktop-maior/icone-telefone.png)  100% 100% no-repeat; width: 40px; height: 40px; padding-top: 4px; padding-left:8px; float: left;}

                .item-num-telefone{height: 50px; padding-left:14px; font-size:24px;}

            .item-botao-telefone{width:141px; height:50px; background-color: #F5911E; float:left; }

        .item-whatsapp{width:100%; height: auto; overflow: hidden; padding-bottom:42px;}

            .icone-whatsapp{background: url(../img/mg/vicosa/layout/desktop-maior/icone-whatsapp.png)  100% 100% no-repeat; width: 40px; height: 40px; padding-left:8px; float:left;}

            .item-num-whatsapp{padding-left:14px; font-size:24px; height:40px;}

        .item-site{width:100%; height: auto; overflow: hidden; padding-bottom: 46px;}

            .icone-site{background: url(../img/mg/vicosa/layout/desktop-maior/icone-site.png)  100% 100% no-repeat; width: 40px; height: 32px; padding-left:8px; float:left;}

            .item-num-site{padding-left:16px; font-size:24px; height: 32px;}

        .item-entrega{padding-bottom:41px;}

            .icone-entrega{background: url(../img/mg/vicosa/layout/desktop-maior/icone-entrega.png)  100% 100% no-repeat; width: 40px; height: 32px; padding-left:8px; float:left;}

            .item-num-entrega{padding-left:16px; font-size:24px; height: 32px;}

        .detalhes-icones-socias{width:100%; height: auto; padding-left:10px !important; padding-right: 10px !important; overflow: hidden;}

            .detalhes-item-icones-sociais{padding-left:8px; padding-right: 8px; padding-bottom:20px;  width:50px; float:left;}

                .icone-android-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) 0 0  no-repeat; width: 50px; height: 50px;}

                .icone-apple-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -50px 0  no-repeat; width: 50px; height: 50px;}

                .icone-blogger-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -100px 0  no-repeat; width: 50px; height: 50px;}

                .icone-facebook-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -150px 0  no-repeat; width: 50px; height: 50px;}

                .icone-flickr-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -200px 0  no-repeat; width: 50px; height: 50px;}

                .icone-google-plus-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -250px 0  no-repeat; width: 50px; height: 50px;}

                .icone-instagram-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -300px 0  no-repeat; width: 50px; height: 50px;}

                .icone-linkedin-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -350px 0  no-repeat; width: 50px; height: 50px;}

                .icone-skype-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -400px 0  no-repeat; width: 50px; height: 50px;}

                .icone-tumblr-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -450px 0  no-repeat; width: 50px; height: 50px;}

                .icone-twitter-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -500px 0  no-repeat; width: 50px; height: 50px;}

                .icone-vimeo-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -550px 0  no-repeat; width: 50px; height: 50px;}

                .icone-youtube-detalhes{background: url(../img/mg/vicosa/layout/desktop-menor/iconesRedesSociais.png) -600px 0  no-repeat; width: 50px; height: 50px;}

        /*configuracoes modal telefone*/

        .item-modal-telefones{padding-bottom:8px; width: 210px; height: auto; margin: 0 auto; padding-top: 16px;}

            .icone-claro{background: url(../img/mg/vicosa/layout/desktop-maior/iconesOperadoras.png) 0 0  no-repeat; width: 40px; height: 40px; }

            .icone-oi{background: url(../img/mg/vicosa/layout/desktop-maior/iconesOperadoras.png) -40px 0  no-repeat; width: 40px; height: 40px;}

            .icone-vivo{background: url(../img/mg/vicosa/layout/desktop-maior/iconesOperadoras.png) -80px 0  no-repeat; width: 40px; height: 40px;}

            .icone-tim{background: url(../img/mg/vicosa/layout/desktop-maior/iconesOperadoras.png) -120px 0  no-repeat; width: 40px; height: 40px;}

            .icone-celular{background: url(../img/mg/vicosa/layout/desktop-maior/iconesOperadoras.png) -160px 0  no-repeat; width: 40px; height: 40px;}

        .font-modal{font-size: 21px; }

        .item-modal-text{padding-top:12px;}

    /*Configuracao mensagem avaliacao detalhes*/
    .item-fundo-avaliacao-facebook{ width:1100px; height:400px; margin: 0 auto; padding-top: 23px;}

        .item-fundo-avaliacao-detalhes{width: 650px; margin: 0 auto !important; float: left; }

            #item-detalhes-mensagem{width:650px; float:left; margin-right: 30px;}

                .item-avaliacao-detalhes{padding-bottom: 27px;}

                    .fundo-avaliacao-detalhes{width:650px; height: auto; min-height: 399px; margin: 0 auto;}

                        .font-titulo-avaliacao-detalhes{padding-top: 29px; font-size:30px;}

                        .item-detalhes-estrela-avaliacao{width: auto; margin: 0 auto; padding-top: 25px; padding-bottom: 21px;}

                            .item-icone-estrela-detalhes{padding-right: 9px;}

                                .icone-avaliacao-detalhes{background: url(../img/mg/vicosa/layout/desktop-maior/estrelasAvaliacoes.png) -1px 0 no-repeat; width:32px; height: 32px; float: left; }

                                .icone-avaliacao-detalhes-amarelo-hover, .icone-avaliacao-detalhes-amarelo-clique{background: url(../img/mg/vicosa/layout/desktop-maior/estrelasAvaliacoes.png) -35px 0 no-repeat; width:32px; height: 32px; float: left; cursor:pointer;}

                        #fundo-mensagem-detalhes-d-maior{width:550px !important;  height: auto; min-height: 148px; margin-left: 47px; resize: none; font-size: 21px;}

                        .item-botao-avaliar-detalhes{width:120px; height:40px; margin: 0 auto; padding-bottom: 20px;}

                            .botao-avaliar-detalhes{width:120px; height:40px; background-color: #F5911E; float:none !important; border:none;}

        .fb-page{padding-left:30px;}

     /*Configuracao comentarios avaliacao*/

    .item-comentario-avaliacao{width: 1100px; height: auto; overflow: hidden;  margin: 0 auto; padding-bottom: 16px;}

        .num-detalhes-avaliacao{font-size:30px; padding-bottom: 34px;}

        .item-comentario-avalicoes{width: 1100px; height: 93px; padding-bottom: 41px;}

            .item-comentario1{width:304px; padding-right:94px; float:left;}

                .item-modal-num{padding-bottom:8px; padding-top: 8px; width: 300px; margin: 0 auto; padding-left: 0 !important;}

                    .font-modal-avaliacao-nome{font-size: 15px;  padding-top: 10px; }

                    .item-avaliacao-comentario-detalhes{padding-left:18px;}

                        .font-modal-avaliacao-comentario{font-size: 18px; padding-bottom: 20px;}

                            .item-avaliacao-estrelas-detalhes{float:left;}

                            .item-avaliacao-detalhes-estrela-data{height:24px; display: table; float:right;}

                                .font-data-comentario-detalhes{font-size: 15px; }

            .borda-separa-comentario{border: 1px solid #ddd; width: 304px;}

            .item-comentario2{width:304px; float:left;}


    /*************************************************************************/
    /*************************** TELA CONTATO ********************************/
    /*************************************************************************/

    .font-msg-inicial-contato{font-size: 21px; padding-top: 37px; padding-left: 30px; padding-bottom: 20px;}

    #form-contato{width:500px; height: 195px; padding-bottom:200px;}

        .item-info-contato{width: 500px; height:210px; padding-right:61px; float:left;}

            #nomeid-contato, #emailid-contato, #assuntoid-contato {font-size: 18px; width: 500px; !important; text-align: left !important; padding-left:5px !important; }

            #mensagem-contato { width: 500px; !important; text-align: left !important; padding-left:5px !important;}

            #mensagem-contato{ font-size: 18px; height: auto; min-height: 106px; vertical-align: text-top !important; padding-top: 0 !important; overflow:hidden; resize: none; border: 1px solid #808080; border-radius: 7px 7px; background-color: #F8F8F8;}

            .item-botao-contato{width: 120px; height: 40px;}

                .botao-contato{width: 120px; height: 40px;}

}